{include file='admin@common/head' /}
<nav class="plugin_nav">
  <a class="nav_active" href="#">鱼种设置</a>
  <a href="{:url('admin/SystemSet/site')}">捕鱼公告</a>
</nav>

<ol class="breadcrumb">
         <li><a href="/{$loginName}.php/extend">扩展管理</a></li>
    <li><a href="/fish50/setting/">鱼种设置</a></li>
    <li class="active">修改</li>
</ol>
<style>
  .icon_box {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;

    width: 80px;
    height: 80px;
    background: #C6EAFF;
    overflow: hidden;
    border: 1px solid #9ED3FF;
    border-radius: 3px;
  }
  .dis {
    background: #FFCCCC;
    border: 1px solid #FF9E9E;
  }
  .fish_info {
    padding: 10px;
  }
  .right {
    margin-left: 88px;
    line-height: 26px;
  }
  .hit, .sp {
    color: #C32AD6;
    font-weight: 700;
  }
  .sp {
    color: #23AB92;
  }
  .edit {
    max-width: 900px;
  }
  .title{ 
    line-height: 45px;
  }
</style>
<div class="box-padding">
    <div class="alert alert-success" role="alert">
      小提示：命中率和赔率的计算公式为 <span class="text-danger">预期奖金 / 命中 = 赔率</span>（以1000分率为参考），例如预期奖金为 950（期望奖金） / 950（命中） = 1（赔率）
    </div>
    <div class="icon_box{$info.status == 1 ? '' : ' dis'}">
        <img src="/static/plugin/fish50/fishimg/{$info.name}.png" alt="" width="54">              
    </div>

    <div class="title">名称： {$info.title}</div>
    
    <form class="edit" method="post" action="{:url('edit', ['id' => $info.id])}">
        <div class="form-group">
          <label for="exampleInputEmail1">命中率</label>
          <input name="hit" type="text" class="form-control" id="exampleInputEmail1" value="{$info.hit}">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">赔率</label>
          <input name="sp" type="text" class="form-control" id="exampleInputEmail1" value="{$info.sp}">
        </div>

        <button type="submit" class="btn btn-primary btn-block">修改</button>
      </form>
  </div>
</div>
{include file='admin@common/foot' /}
