{include file='home@common/head' title="关于我们"/}

<!--顶部主题图-->
<div class="about-banner top-banner">
    <div class="web_ banner-detail">
        <div class="b_title animated fadeInUp wow column_name">关于我们</div>
        <div class="b_info animated fadeInDown wow column_info">公司介绍、发展历程、企业理念、人才招聘、资质证书、联系我们</div>
    </div>
</div>

<div class="buy-page about-page">
    <div class="tabs-c">
        <div class="tab-tit">
            <ul class="cf" style="width: 684px;">
                <li id="tab1" class="tab-link fadeInDown animated wow" onclick="setTab('tab',1,6)">公司介绍</li>
                <li id="tab2" class="tab-link fadeInDown animated wow" onclick="setTab('tab',2,6)">发展历程</li>
                <li id="tab3" class="tab-link fadeInDown animated wow" onclick="setTab('tab',3,6)">企业理念</li>
                <li id="tab4" class="tab-link fadeInDown animated wow" onclick="setTab('tab',4,6)">人才招聘</li>
                <li id="tab5" class="tab-link fadeInDown animated wow" onclick="setTab('tab',5,6)">资质证书</li>
                <li id="tab6" class="tab-link fadeInDown animated wow" onclick="setTab('tab',6,6)">联系我们</li>
            </ul>
        </div>
        <div class="tab-cont bg-white">
            <div>
                <div id="con_tab_1" class="about-cont" style="display: none">
                    <div class="cont web_ animated fadeInUp wow about_introduce">
                        <p>德阳市酷睿科技有限公司最早创建于2002年，创始之初主要从事开发股票和财经门户网站系统，于2008年开始从事开发彩票在线销售管理系统，为全家数万家彩票实体店提供线上及线下B2B彩票销售业务与自动打票业务。从创始之初到现在，公司一路走来经历了16年的风风雨雨，为产品开发积累了丰富的经验和培养了一大批专业的开发人才。公司于2015年4月进行全面业务重组，开始转型升级开发各类休闲趣味游戏及手机棋牌游戏产品，目前拥有一流的手机游戏产品规划、设计、测试、开发、售后于一体的专业团队，已具备丰富的手机游戏设计开发经验，经过长期创新性开发，掌握了一整套从框架、算法、数据等各方面的领先技术，使得产品无论在<b class="red">稳定性、安全性、高效性、高负载、操作体验</b>等方面都居国内同类产品领先地位。</p>
                        <p>公司秉持<b class="red">“严谨务实 精益求精”</b>的产品研发理念，致力于为手机用户提供最佳游戏体验及最好的游戏产品，公司荣获了多个国家颁发的软件著作权证书，及游戏运营的资质证书。为用户提供最先进的产品和技术，始终围绕手机游戏系统相关领域的技术创新和产品研发，拥有自主知识产权的互联网著名游戏软件产品。这些产品历经上百次的版本升级与技术更新，无论在<b class="red">成熟性、稳定性或是安全性、灵活性</b>上均是市场上同类产品中的一枝独秀，获得超过<b class="red">数千位</b>用户的一致认可和选择。</p>
                        <p>自2002年底发布第一款产品起，公司始终坚持立足于自主技术创新，专注于自主核心技术和知识产权的游戏产品研发，不断推动中国手机游戏的技术发展和应用，以实际行动体现了酷睿科技<b class="red">”自主创新 共创价值”</b>的服务理念，受于用户的青睐。公司积累了多年的游戏产品应用开发经验，以其过硬的研发实力不断推出新的手机游戏产品，在持续创新的同时迅速提升其业务竞争力，在推动中国手机游戏发展进程中发挥了重大的作用。</p>
                        <p>时代在进步，酷睿科技也在不断的发展 ，我们相信酷睿科技的明天必定会更美好！</p>
                    </div>
                </div><!--公司介绍-->
                <div id="con_tab_2" class="cont web_ hidden" style="display: none">
                    <div class="web_ about_history">
                        <div class="bg-round animated fadeInDown wow "><span><b>2018</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">8月</div>
                                <div class="content fl">发布了“酷睿彩票合买代购网站管理系统手机WAP V4.0和APP V3.0同步上线。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">6月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2018 SP1”，新增了印尼五分彩、腾讯分分彩，彩种更新至49个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">5月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2018”，新增了20多种新玩法，新增了北京赛车（PK10），彩种更新至47个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">2月</div>
                                <div class="content fl">正式发布《酷睿游戏乐园》v2.0，新版本新增了代理推广管理系统的电脑端与手机端。 </div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2017</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">11月</div>
                                <div class="content fl">发布了“酷睿彩票合买代购网站管理系统APP V2.0正式上线。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">7月</div>
                                <div class="content fl">发布了“酷睿彩票合买代购网站管理系统WAP手机V4.0版”增加了10余个高频彩及低频彩，彩种更新至42个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">4月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2017”，新增了天津11选5、吉林11选5、新疆11选5，彩种更新至46个。 </div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">1月</div>
                                <div class="content fl">正式发布《酷睿游戏乐园》v1.5，新版本新增了电脑网页版游戏系统。 </div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2016</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">12月</div>
                                <div class="content fl">发布了“酷睿彩票合买代购网站管理系统APP V1.0正式上线。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">10月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2015 SP2”，新增了河内五分彩，彩种更新至43个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">9月</div>
                                <div class="content fl">《酷睿游戏乐园》v1.2正式发布，新增加了全新的代理独立管理系统。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">8月</div>
                                <div class="content fl">发布了“酷睿彩票合买代购网站管理系统WAP手机V2.0版”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">5月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2016 SP1”，对竞足球进行了全新的开发。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">4月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2016”，采用全新架构和UI设计。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">3月</div>
                                <div class="content fl">第一个手机小游戏版本《酷睿游戏乐园v1.0》研发成功发布，新游戏包含了欢乐捕鱼、欢乐扑克、欢乐攻城、欢乐夹娃娃、我要发、疯狂打地鼠等经典小游戏。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2015</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">11月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2015 SP1”，修复了已知的数个BUG及更新了一些小功能。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">7月</div>
                                <div class="content fl">发布了“酷睿酷睿彩票合买代购网站管理系统WAP手机V1.0版”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">6月</div>
                                <div class="content fl">公司成立游戏开发项目部门，开始设计开发电脑及手机H5小游戏产品。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">4月</div>
                                <div class="content fl">公司开始产品全面升级转型，经公司管理层协商决定脱离《德阳市风驰科技有限公司》，同时正式注册《德阳市酷睿科技有限公司》。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">2月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2015”，新增竞彩足球，彩种更新至43个。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2014</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">10月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2014 SP3”，福建11选5、福建快3、内蒙快3、广西快3，彩种更新至42个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">8月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2014 SP2”，浙江11选5、黑龙江11选5、河北11选5，彩种更新至38个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">5月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2014 SP1”，辽宁快乐12、浙江快乐12、四川快乐12，彩种更新至35个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">3月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2014”，新增江苏11选5、辽宁11选5、上海11选5，彩种更新至32个。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2013</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">11月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2013 SP3”，新增江苏快3、吉林快3、安徽快3，彩种更新至29个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">7月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2013 SP2”，新增广东快乐十分、湖南快乐十分，彩种更新至26个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">4月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2013 SP1”，推出重庆11选5、广东11选5、安徽11选5，彩种更新至24个。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">1月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2013”，新增黑龙江时时彩、天津时时彩、新疆时时彩，彩种更新至21个。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2012</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">10月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2012 SP2”，新增定制跟单功能。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">9月</div>
                                <div class="content fl">为了公司能更好的发展公司，经过公司管理层决定，与德阳市风驰科技有限公司合并重组并正式更名为《德阳市风驰科技有限公司》。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">5月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2012 SP1”，推出追号功能。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">3月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2012”，推出合买功能及更多其它实用功能。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2011</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">12月</div>
                                <div class="content fl">发布升级，“彩票门户网站管理系统V5.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">8月</div>
                                <div class="content fl">发布升级，“财经门户网站管理系统V6.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">2月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2011”，新增了重庆时时彩、江西时时彩、江西11选5、11运夺金、上海时时乐等5个彩种，彩种更新至18个。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2010</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">10月</div>
                                <div class="content fl">发布升级，“彩票门户网站管理系统V4.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">7月</div>
                                <div class="content fl">发布升级，“财经门户网站管理系统V5.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">5月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2010”，新增了足球胜负彩、任选九场、四场进球、六场半全场等4个彩种，彩种更新至13个。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2009</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">11月</div>
                                <div class="content fl">发布升级，“彩票门户网站管理系统V3.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">6月</div>
                                <div class="content fl">发布升级，“财经门户网站管理系统V4.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">4月</div>
                                <div class="content fl">发布升级“酷睿彩票合买代购网站管理系统V2.0”，新增了15选5、36选7彩种，彩种更新至9个。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2008</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">12月</div>
                                <div class="content fl">发布升级，“彩票门户网站管理系统V2.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">11月</div>
                                <div class="content fl">发布升级，“模拟炒股网站管理系统V2.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">10月</div>
                                <div class="content fl">
                                    <p>发布升级，“财经门户网站管理系统V3.0”。</p>
                                    <p>酷睿科技开发出第一个“酷睿彩票合买代购网站管理系统”，该版本当时仅有双色玩、福彩3D、七乐彩、大乐透、排列三、排列五、七星彩、29选7等8个彩种。</p>
                                </div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">5月</div>
                                <div class="content fl">
                                    <p>为了能更好的提升公司形像和影响力，《德阳市酷睿科技工作室》正式升级更名为《成都市酷锐科技有限公司》。</p>
                                </div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">2月</div>
                                <div class="content fl">酷睿科技开始转型开发出第一个“彩票门户网站管理系统”，该系统以彩票分析、预测、新闻资讯、走势图表、彩票工具开奖信息等内容为主，为广大彩友提供全方位的彩票服务。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2007</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">11月</div>
                                <div class="content fl">正式发布第一个“模拟炒股网站管理系统”可以以实时行情虚拟买入卖出沪深个股。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">8月</div>
                                <div class="content fl">发布升级“股票门户网站管理系统V2.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">3月</div>
                                <div class="content fl">酷睿科技开发出大型“财经门户网站管理系统”，该系统以股票、港股、美股、基金、白银、黄金、保险、期货、外汇、银行等数十个专业投资理财频道，并配置功能强大的各种行情数据图。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2006</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">10月</div>
                                <div class="content fl">发布推出第一个“股票私募网站管理系统”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">7月</div>
                                <div class="content fl">发布升级“股票门户网站管理系统V2.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">1月</div>
                                <div class="content fl">酷睿科技开发出第一个“股票门户网站管理系统”，该系统以股票相关内容为主的门户级网站管理系统v1.0。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2005</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">12月</div>
                                <div class="content fl">发布升级“股票评论网站系统专业版V10.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">9月</div>
                                <div class="content fl">发布升级“股票评论网站系统专业版V9.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">6月</div>
                                <div class="content fl">发布升级“股票评论网站系统专业版V8.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">3月</div>
                                <div class="content fl">酷睿科技在原有的三个版本上推出功能更强大的“股票评论网站系统专业版V7.0”。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2004</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">10月</div>
                                <div class="content fl">推出专业版”受到用户一致好评。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">7月</div>
                                <div class="content fl">推出标准版及专业版”二个版本，受到用户一致好评。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">4月</div>
                                <div class="content fl">酷睿科技针对不同的用户推出细分版本“股票评论网站系统、精简版和升级“股票评论网站系统专业版V6.0”。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2003</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">3月</div>
                                <div class="content fl">升级更新为“股票评论网站系统专业版V5.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">2月</div>
                                <div class="content fl">推出功能更强大的“股票评论网站系统专业版V4.0”。</div>
                            </div>
                        </div>

                        <div class="bg-round animated fadeInDown wow"><span><b>2002</b></br>年</span></div>
                        <div class="animated fadeInUp wow">
                            <div class="course-box cf">
                                <div class="months fl">11月</div>
                                <div class="content fl">升级更新为“股票评论网站系统专业版V3.0”。</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">6月</div>
                                <div class="content fl">升级更新为“股票评论网站系统专业版V2.0”</div>
                            </div>
                            <div class="course-box cf">
                                <div class="months fl">5月</div>
                                <div class="content fl">成功开发出第一个网站产品“酷睿股票评论网站管理系统V1.0”。该系统主要是以股票公司、个人或股票分析专家，用于发布股市大盘或个股走势分析预测为主的网站系统。该系统为网站会员提供专业性的股市大盘行情或个股走势分析预测文章、按条、包天、或包月、包年下载或在线浏览，一经推荐就受到了各大公司或股评专业的一致好评。</div>
                            </div>
                            <div class="course-box cf" style="padding-bottom: 0">
                                <div class="months fl">3月</div>
                                <div class="content fl bg">
                                    <b class="red">德阳市酷睿科技工作室正式成立</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--发展历程-->
                <div id="con_tab_3" class="about-cont about_idea" style="display: none">
                    <div class="cont web_ animated fadeInUp wow about_introduce">
                        <p>德阳酷睿市科技有限公司是一家以自主研发彩票在线合买代购管理系统、软件技术咨询为主营业务的科技有限责任公司。是国内彩票在线合买代购网站系统中彩种最全、开奖彩种最全、走势图表最全、玩法最全、栏目最全、功能最强的彩票合买代购网站系统；本系统基于ASP+MSSQL+AJAX+XML+DIV+CSS+JS技术开发的彩票在线合买代购网站管理系统，是一个经过完善设计并适用于各种服务器环境的易用、安全、高效、快速、优秀的彩票在线合买代购网站解决方案，可用于各种体彩、福彩、时时彩、足球彩、竟彩等公司、个人或彩票投注站使用。全站采用高度智能化全自动维护系统，管理方便、易懂、易用、人性化，对操作人员技术要求低。公司追求精益求精，以科技利益人类，以成就赢得尊敬。立志于成为国内一流、国际知名的国际化建站管理系统专业提供商。</p>
                    </div>
                    <div class="web_ kh animated fadeInUp wow">
                        <p><b>企业使命</b>打造彩票软件系统第一品牌</p>
                        <p><b>核心价值观</b>诚信、感恩、负责任</p>
                        <p><b>企业精神</b>团结拼搏 同创价值 和谐创新 共享繁荣</p>
                        <p><b>服务理念</b>心服务 共创价值</p>
                        <p><b>传播口号</b>专业铸就品质，诚信赢得未来</p>
                    </div>
                    <div class="tc hidden">
                        <div class="c-title animated fadeInDown wow">经营理念</div>
                        <table class="table-list web_ animated fadeInUp wow" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>满足和创造客户需求</td>
                                <td>引领促进市场健康发展</td>
                                <td>优化各利益群体的价值分配</td>
                                <td>实现可持续的企业价值最大化</td>
                            </tr>
                            <tr>
                                <td>客户就是价值 员工就是财富</td>
                                <td>创新就是未来</td>
                                <td>学习力等于生命力等于创造力等于竞争力</td>
                                <td>竞争对手也是我们的合作伙伴</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tc hidden" style="padding-bottom: 50px">
                        <div class="c-title animated fadeInDown wow">管理理念</div>
                        <table class="table-list web_ animated fadeInUp wow" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td> “人”为本，“仁”为纲 </td>
                                <td> 虚心学习，持续改善</td>
                                <td> 权责分明，以身作则</td>
                                <td> 襟怀坦荡，包容他人 </td>
                            </tr>
                            <tr>
                                <td>目标明确，绩效导向</td>
                                <td>互信互助，团队致胜</td>
                                <td>系统管理，严谨高效</td>
                                <td>自由灵活，松紧有度</td>
                            </tr>
                        </table>
                    </div>
                </div><!--企业理念-->
                <div id="con_tab_4" class="about-cont web_" style="display: none">
                    <div class="cont web_ animated fadeInUp wow about_introduce">
                        <p>酷睿科技创立至今，一直以来，始终坚持用户体验至上，关注用户心底真正的需求，一切以“安全易用”为准则，为广大站长、企业等建站用户提供了一套非常简单易用的彩票管理系统，让更多的时间真正的留给自己，提高工作效率。</p>
                        <p>在这里，你不仅可以拥有服务上千用户的成就感，更有敬业、务实、友善的专业团队提供支持，公司愿尽力支持员工自身发展，帮助你成就自我，实现与公司的共同成长。</p>
                        <p>酷睿科技的成长离不开团队中每一个人的努力。如果您拥有优秀的品德，勤奋好学、勇于创新，并希望成就一番事业，我们真诚欢迎您加入我们的团队，共铸辉煌！</p>
                    </div>
                    <div class="web_ animated fadeInUp wow about_careers">
                        <h4 class="title blue">ASP/ASP.NET程序员</h4>
                        <div>
                            <h6>岗位职责：</h6>
                            <p>1、负责公司网站前后台开发工作</p>
                            <p>2、负责公司网站的性能优化工作</p>
                            <p>3、负责部门组织建设与团队管理工作</p>
                            <h6>任职要求：</h6>
                            <p>1. 专科及以上学历，计算机、通信、信息技术相关专业；</p>
                            <p>2. 精通ASP/.NET编程语言，有框架编程项目经验和精通CMS程序者优先；</p>
                            <p>3. 精通使用ASP/.NET+Access/Mssql进行WEB开发，熟悉Windows等配置优先；</p>
                            <p>4. 熟练使用MSSQL数据库，熟悉SQL语言，有良好的数据库操作和维护经验；</p>
                            <p>5. 拥有2年以上技术运营及团队管理经验，能良好把握项目进度控制，保障按时完成开发计划并保证工作质量；</p>
                            <p>6. 有很强的创造能力、拓展能力、抽象思维能力与项目管理能力；</p>
                            <p>7. 具有优秀的自主学习能力，自我管理能力，愿意面对高压力高强度工作；</p>
                            <p>8、具备严谨的工作态度、强烈的责任心和团队精神。</p>
                        </div>
                    </div>
                    <div class="web_ animated fadeInUp wow about_careers">
                        <h4 class="title blue">WEB设计师</h4>
                        <div>
                            <h6>岗位职责：</h6>
                            <p>1、负责本公司所有产品的视觉设计；包括网站产品界面、客户端软件界面、推广广告、印刷品等 ；</p>
                            <p>2、配合产品经理、产品设计师完成原型设计；</p>
                            <p>3、负责制定界面设计标准和规范并进行实施；</p>
                            <p>4、参与界面设计流程的完善和优化工作；</p>
                            <p>5、配合产品设计师，完成部分交互设计工作并持续优化用户体验；</p>
                            <h6>任职要求：</h6>
                            <p>1、专科以上学历，美术相关专业，有三年以上大型网站界面设计经验；</p>
                            <p>2、有较强的审美设计能力，熟悉网页制作流程，有良好的创意理念和页面版式规划能力，能很好的把握色彩与网页布局，熟悉用户体验；</p>
                            <p>3、精通Photoshop、Flash、illustrator、Dreamweaver等网页设计工具；</p>
                            <p>4、用div+css+dom制作符合w3c标准的xhtml文件，使整站效果兼容ie6、ie7、ie8、firefox、opera、safari、chrome等所有主流浏览器；</p>
                            <p>5、有完整门户网站页面设计工作经验优先考虑（应聘时请携带相关作品源文件）；</p>
                            <p>6、良好的沟通能力和团队协作能力，有责任心，能认真完成每一项工作；</p>
                            <p>7、富有创造力和激情，对web前沿设计有灵敏的触觉和领悟能力，期望在设计方面取得更高造诣，并为提高项目组设计发挥推动作用。</p>
                        </div>
                    </div>
                    <div class="web_ animated fadeInUp wow about_careers">
                        <h4 class="title blue">销售客服</h4>
                        <div>
                            <h6>岗位职责：</h6>
                            <p>1、负责酷睿科技产品对外合作、渠道销售；</p>
                            <p>2、开拓新市场,发展新客户；</p>
                            <p>3、负责销售活动的策划和执行；</p>
                            <p>4、维护客户关系以及客户间的长期战略合作计划。</p>
                            <h6>任职要求：</h6>
                            <p>1、两年以上网络销售工作经验，有电子商务相关销售经验者优先考虑；</p>
                            <p>2、具有较强的沟通能力和交际技巧，反应敏捷，有亲和力；</p>
                            <p>3、具备一定的市场人脉关系，渠道关系，有良好的客户服务意识；</p>
                            <p>4、具有较强的文字写作功底；</p>
                            <p>5、有责任心，能承受较大的工作压力。</p>
                        </div>
                    </div>
                </div><!--人才招聘-->
                <div id="con_tab_5" class="about-cont web_ hidden" style="display: none">
                    <div class="about_honor animated fadeInUp wow">
                        <ul class="cf">
                            <li><a href="/static/home/images/honor/honor_01.jpg" target="_blank"><img src="/static/home/images/honor/honor_01.jpg" alt=""></a></li>
                            <li><a href="/static/home/images/honor/honor_02.jpg" target="_blank"><img src="/static/home/images/honor/honor_02.jpg" alt=""></a></li>
                            <li><a href="/static/home/images/honor/honor_09.jpg" target="_blank"><img src="/static/home/images/honor/honor_09.jpg" alt=""></a></li>
                            <li style="margin-right: 0"><a href="/static/home/images/honor/honor_07.jpg" target="_blank"><img src="/static/home/images/honor/honor_07.jpg" alt=""></a></li>
                            <li style="width: 48.7%"><a href="/static/home/images/honor/honor_06.jpg" target="_blank"><img src="/static/home/images/honor/honor_06.jpg" alt=""></a></li>
                            <li style="width: 48.7%;margin-right: 0"><a href="/static/home/images/honor/honor_08.jpg" target="_blank"><img src="/static/home/images/honor/honor_08.jpg" alt=""></a></li>
                            <li><a href="/static/home/images/honor/honor_03.jpg" target="_blank"><img src="/static/home/images/honor/honor_05.jpg" alt=""></a></li>
                            <li><a href="/static/home/images/honor/honor_04.jpg" target="_blank"><img src="/static/home/images/honor/honor_05.jpg" alt=""></a></li>
                            <li><a href="/static/home/images/honor/honor_05.jpg" target="_blank"><img src="/static/home/images/honor/honor_05.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div><!--资质证书-->
                <div id="con_tab_6" class="about-cont" style="display: none">
                    <div class="bg">
                        <div class="web_ ">
                            <h2 class="line-title animated flipInX wow">联系方式</h2>
                            <div class="contact-cont cf hidden">
                                <div class="contact_l cf ">
                                    <p class="animated fadeInDown wow fl i-icon"><i class="iconfont icon-youjian"></i></p>
                                    <div class="fl conts">
                                        <h3 class="animated fadeInUp wow">电子邮件</h3>
                                        <div class="c-3 animated fadeInUp wow">{$setting.company_email}</div>
                                    </div>
                                </div>
                                <div class="contact_l cf">
                                    <p class="animated fadeInDown wow fl i-icon"><i class="iconfont icon-dianhua"></i></p>
                                    <div class="fl conts">
                                        <h3 class="animated fadeInUp wow">联系电话</h3>
                                        <div class="c-3 animated fadeInUp wow">
                                            <ul class="hidden cf tel">
                                                <li>客服电话：4000-6677-43</li>
                                                <li>业务电话：18980114600</li>
                                                <li>投诉电话：0838-2303878</li>
                                                <li>售后电话：13036761507</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact_l cf">
                                    <p class="animated fadeInDown wow fl i-icon"><i class="iconfont icon-qq"></i></p>
                                    <div class="fl conts">
                                        <h3 class="animated fadeInUp wow">QQ</h3>
                                        <div class="c-3 animated fadeInUp wow">
                                            <p style="width: 100%">客服QQ：4000667743 <a href="" class="a-btn">在线咨询</a></p>
                                            <p style="width: 100%">业务QQ：14083563 <a href="" class="a-btn">在线咨询</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact_l cf">
                                    <p class="animated fadeInDown wow fl i-icon"><i class="iconfont icon-weixin-copy"></i></p>
                                    <div class="fl conts">
                                        <h3 class="animated fadeInUp wow">微信</h3>
                                        <div class="c-3 animated fadeInUp wow">
                                            <div class="fl">微信公众号：酷睿科技</div>
                                            <div class="wei-sao fr"><img src="{$setting['company_img']}" alt="" width="80px"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact_l cf">
                                    <p class="animated fadeInDown wow fl i-icon"><i class="iconfont icon-gongdan"></i></p>
                                    <div class="fl conts">
                                        <h3 class="animated fadeInUp wow">工单</h3>
                                        <div class="c-3 animated fadeInUp wow"><a href="" class="a-btn">提交需求</a></div>
                                    </div>
                                </div>
                                <div class="contact_l cf">
                                    <p class="animated fadeInDown wow fl i-icon"><i class="iconfont icon-dizhi1"></i></p>
                                    <div class="fl conts">
                                        <h3 class="animated fadeInUp wow">地址</h3>
                                        <div class="c-3 animated fadeInUp wow">四川省德阳市希望城财富中心A栋24楼</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="web bg-white">
                        <div class="web_ hidden">
                            <h2 class="line-title animated flipInX wow">地图位置</h2>
                            <div class="address animated fadeInUp wow hidden" style="height: 500px;margin-bottom: 50px">
                                <iframe src="/static/home/map.html" frameborder="0" width="100%" height="500" scrolling="no"></iframe>
                            </div>
                        </div>
                    </div>
                </div><!--联系我们-->
            </div>
        </div>
    </div>
</div>

{include file='home@common/foot' /}
<script>
    $(function () {
        $('.nav-about').addClass('active')
        var id = GetUrlParam('ac');
        var a = id <=6 && id >=1 ? id : 1

        $('#tab'+ a).addClass('active')
        $('#con_tab_' + a).css('display','block')
    });
</script>
