{include file='home@common/head' title="公司资质"/}
<style>
    .section--title {
        font-size:28px;
        font-weight: 400;
        text-align: center;
        margin: 3rem 0 1.6rem 0;
        background: url(/static/home/images/bg_title.png) no-repeat center;
        color: #5a6899;
    }
  .honor ul li{
      box-sizing: border-box;
      float: left;
      display: inline;
      overflow: hidden;
      padding: 10px;
      border: 1px solid #e6e6e6;
      margin: 20px 20px 0 0;
      width: 23.5%;
      text-align: center;
      background-color: #f1f1f1;
  }
  .honor ul li:hover{
      border:1px solid #0a8ddf;
  }
  .honor ul li img{
      width: auto;
      height: 300px;
  }
  .honor{padding-bottom: 20px}
</style>
<div class="list-tit">
    <div class="web_">
        <h1>公司资质</h1>
    </div>
</div>
<div id="app" class="tl-content">
    <div class="honor" id="honor">
        <div class="web_ honor">
            <h2 class="section--title">公司资质</h2>
            <ul>
                <li><a href="/static/home/images/honor/honor_01.jpg" target="_blank"><img src="/static/home/images/honor/honor_01.jpg" alt=""></a></li>
                <li><a href="/static/home/images/honor/honor_02.jpg" target="_blank"><img src="/static/home/images/honor/honor_02.jpg" alt=""></a></li>
                <li><a href="/static/home/images/honor/honor_05.jpg" target="_blank"><img src="/static/home/images/honor/honor_05.jpg" alt=""></a></li>
                <li style="margin-right: 0"><a href="/static/home/images/honor/honor_07.jpg" target="_blank"><img src="/static/home/images/honor/honor_07.jpg" alt=""></a></li>
                <li style="width: 47.7%"><a href="/static/home/images/honor/honor_06.jpg" target="_blank"><img src="/static/home/images/honor/honor_06.jpg" alt=""></a></li>
                <li  style="width: 49.7%;margin-right: 0"><a href="/static/home/images/honor/honor_08.jpg" target="_blank"><img src="/static/home/images/honor/honor_08.jpg" alt=""></a></li>
            </ul>
            <div style="clear: both"></div>
        </div>
    </div>
</div>
{include file='home@common/foot' /}
<script>

</script>
