{include file='home@common/head' title="首页"/}
<link rel="stylesheet" href="/static/css/swiper.min.css">
<script src="__JS__/swiper.min.js"></script>

<!--banner -->
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper" >
            <a class="swiper-slide" style="background-image: url('/static/home/images/banner/banner1.png')"></a>
            <a class="swiper-slide" style="background-image: url('/static/home/images/banner/banner2.png')"></a>
            <a class="swiper-slide" style="background-image: url('/static/home/images/banner/banner3.png')"></a>
            <a class="swiper-slide" style="background-image: url('/static/home/images/banner/banner4.png')"></a>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="shadow"></div>
</div>
<!--banner end -->

<!--part01 优势-->
<div class="index_pt01 bg-white hidden">
    <div class="tc web_">
        <div class="c-title animated fadeInUp wow">30分钟平台快速上线，酷睿科技<em class="blue">助</em>您一臂之力</div>
        <div class="c-sub-title animated fadeInDown wow">无需技术 不用开发 马上拥有一个游戏网站</div>
    </div>
    <div class="cf web_ index_fast">
        <div class="tr fl fast_l blue animated fadeInLeft wow">安装搭建售后维护的事情交给我们</div>
        <div class="tc fl fast_m animated fadeInUp wow"><i class="iconfont icon-qiyelinian"></i></div>
        <div class="tl fl fast_r animated fadeInRight wow">您只管安心运营您的平台</div>
    </div>
    <div class="web_">
        <div class="index_prointrob cf">
            <ul class="prointrob_l tr fl animated fadeInLeft wow">
                <li>
                    <div class="titlebox">强大的游戏系统平台</div>
                    <div class="introbox">
                        <p>超过十年的专业技术研发团队与开发经验</p>
                        <p>打造一流的彩票与游戏的一体化平台</p>
                    </div>
                </li>
                <li>
                    <div class="titlebox">专业的游戏服务器</div>
                    <div class="introbox">
                        <p>选择我们的SaaS专业服务，将为您提供专业的游戏服务器</p>
                        <p>强大的硬件防火墙可防APP、DDOS等攻击，保证数据的安全及网站稳定的运行</p>
                    </div>
                </li>
                <li>
                    <div class="titlebox">全面的网络覆盖</div>
                    <div class="introbox">
                        <p>游戏平台支持PC网页端、手机WAP网页端、手机WebAPP端</p>
                        <p>手机原生APP端、微信公众号、微信小程序等</p>
                    </div>
                </li>
            </ul>
            <ul class="prointrob_m tc fl animated fadeInUp wow">
                <li><i class="iconfont icon-diannao"></i></li>
                <li><i class="iconfont icon-fengxianbakong"></i></li>
                <li><i class="iconfont icon-tuanduixiezuo"></i></li>
            </ul>
            <ul class="prointrob_r tl fl animated fadeInRight wow">
                <li>
                    <div class="titlebox">强大的代理推广系统</div>
                    <div class="introbox">
                        <p>多级代理制度、实时查看团队的消费、中奖、充值、盈利等统计数据</p>
                        <p>自动生成各种推广二维码，让平台迅速提升人气</p>
                    </div>
                </li>
                <li>
                    <div class="titlebox">强大的API接口</div>
                    <div class="introbox">
                        <p>支持手机短信（验证码）、邮箱验证、微信快速登录、微信扫码登录</p>
                        <p>QQ快速登录、微信分享、微信支付、支付宝支付等各种API接口</p>
                    </div>
                </li>
                <li>
                    <div class="titlebox">专业的售后服务团队</div>
                    <div class="introbox">
                        <p>强大的售后技术支持团队，提供QQ、微信、工单、电话等售后渠道</p>
                        <p>保障游戏平台 7×24 小时无故障，安全，高效，稳定的运行</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--part01 end-->

<!--part02 产品列表-->
<div class="index_pt02">
    <div class="tc web_ hidden">
        <div class="c-title animated fadeInUp wow">专为游戏而研发的<em class="blue">核心产品</em></div>
        <div class="c-sub-title animated fadeInDown wow">超过300项专业的游戏功能，赶快去体验吧</div>
    </div>
    <div class="web_ index_product hidden">
        <ul class="cf">
            <li class="animated fadeInUp wow" data-wow-duration="1s">
                <div class="product-icon">
                    <i class="iconfont icon-caipiao1" style="font-size: 46px"></i>
                </div>
                <div class="product-name">彩票合买代购系统</div>
                <div class="product-info">彩票合买代购系统：超过50种彩票数百</br>个玩法，支持彩票店自动实时出票，</br>无延时不掉期自动开奖。</div>
            </li>
            <li class="animated fadeInDown wow" data-wow-duration="1s">
                <div class="product-icon">
                    <i class="iconfont icon-dibuicon-youxi-lan"></i>
                </div>
                <div class="product-name">彩票游戏系统</div>
                <div class="product-info">彩票游戏系统：是彩票与游戏相结合的</br>平台，支持数十种彩票和游戏，趣</br>味性强，玩法多样。</div>
            </li>
            <li class="animated fadeInDown wow" data-wow-duration="1s">
                <div class="product-icon">
                    <i class="iconfont icon-qipai"></i>
                </div>
                <div class="product-name">棋牌游戏系统</div>
                <div class="product-info">棋牌游戏系统：房卡版、群主版、斗地主</br>牛牛、扎金花、四川麻将、萍乡打滚</br>筒、湖南跑胡子、欢乐捕鱼。</div>
            </li>
            <li class="animated fadeInUp wow" data-wow-duration="1s">
                <div class="product-icon">
                    <i class="iconfont icon-wodefangan"></i>
                </div>
                <div class="product-name">SaaS</div>
                <div class="product-info">酷睿科技SaaS一站式服务，为您提</br>供一套低成本、高收益、高质量</br>服务的游戏解决方案。</div>
            </li>
        </ul>
    </div>
</div>
<!--part02 end-->

<!--part03 推荐游戏-->
<div class="index_pt03 bg-white">
    <div class="tl web_ hidden">
        <div class="c-title animated fadeInUp wow">丰富多彩的彩票、休闲<em class="blue">游戏</em></div>
        <div class="c-sub-title animated fadeInDown wow">拥有可自定义配置的几十个彩票类、休闲类游戏，更多游戏不断开发中</div>
    </div>
    <div class="web_ index_recgame hidden">
        <ul class="cf">
            {volist name="rec" id="v"}
            <li class="fadeInUp animated wow" data-wow-duration="1.1s">
                <div class="image">
                    <img class="normal" src="{$v.img}" alt="" width="279" height="150">
                    <div class="layout"></div>
                </div>
                <div class="info tl">
                    <div class="f-large title c-1">{$v.title}</div>
                    <p class="c-4 f-sm remark">{$v.remark}</p>
                    <div class="tr btn-box animated">
                        <a href="{:url('./news')}?title={$v.title}" target="_blank" class="btn-play" style="margin-right: 10px">游戏介绍</a>
                        {if condition="$v.type eq 1"}
                        <a href="/web/{$v.name}" target="_blank" class="btn-play">去玩游戏</a>
                        {else/}
                        <a href="/web/game?ext={$v.name}" target="_blank" class="btn-play">去玩游戏</a>
                        {/if}
                    </div>
                </div>
            </li>
            {/volist}
        </ul>
        <div class="btn tc fadeInUp animated wow"><a href="{:url('index/product')}" target="_blank">查看更多</a></div>
    </div>
</div>
<!--part03 end-->

<!--part04 支持终端-->
<div class="index_pt04">
    <div class="tc web_ hidden">
        <div class="c-title animated fadeInUp wow">支持多终端切换，<em class="blue">随时随地游戏</em></div>
        <div class="c-sub-title animated fadeInDown wow">支持多样化的使用方式，不仅仅是手机和电脑</div>
    </div>
    <div class="index_support web_ hidden">
        <ul class="cf">
            <li class="cf animated fadeInLeft wow">
                <div class="fl support-icon">
                    <i class="iconfont icon-diannao2"></i>
                </div>
                <div class="fl support-info">
                    <div class="support-title">PC端</div>
                    <div class="support-sumary">建立你的pc端游戏平台，开拓您的游戏业务增强您的业务渠道。</div>
                </div>
            </li>
            <li class="cf animated fadeInUp wow">
                <div class="fl support-icon">
                    <i class="iconfont icon-shouji"></i>
                </div>
                <div class="fl support-info">
                    <div class="support-title">手机网页端</div>
                    <div class="support-sumary">针对手机进行人性化设计和布局，为用户提供更好游戏体验。</div>
                </div>
            </li>
            <li class="cf animated fadeInRight wow">
                <div class="fl support-icon">
                    <i class="iconfont icon-weixin1"></i>
                </div>
                <div class="fl support-info">
                    <div class="support-title">微信公众号端</div>
                    <div class="support-sumary">打造属于自己的微信公众号，实现特定群体的文字、图片、语音的全方位沟通与互动。</div>
                </div>
            </li>
            <li class="cf animated fadeInLeft wow">
                <div class="fl support-icon">
                    <i class="iconfont icon-qimai-AppStoreshenhebibei"></i>
                </div>
                <div class="fl support-info">
                    <div class="support-title">原生APP</div>
                    <div class="support-sumary">领先同行，率先搭建APP客户端，为用户创造更多移动新渠道，走在潮流尖端。</div>
                </div>
            </li>
            <li class="cf animated fadeInUp wow">
                <div class="fl support-icon">
                    <i class="iconfont icon-app"></i>
                </div>
                <div class="fl support-info">
                    <div class="support-title">WapApp</div>
                    <div class="support-sumary">只需要一个手机网址就能创建移动App，开启您的移动互联网之旅。</div>
                </div>
            </li>
            <li class="cf animated fadeInRight wow">
                <div class="fl support-icon">
                    <i class="iconfont icon-icon_home_applets"></i>
                </div>
                <div class="fl support-info">
                    <div class="support-title">微信小程序</div>
                    <div class="support-sumary">无需担心客户操作系统，一个小程序全部搞定。通过扫一扫或搜索即可打开应用。</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--part04 end-->

<!--part05 新闻公告-->
<div class="index_pt05 bg-white">
    <div class="tl web_ hidden">
        <div class="c-title animated fadeInUp wow">了解最新的<em class="blue">资讯、公告</em></div>
        <div class="c-sub-title animated fadeInDown wow">我们最新的资讯，新闻资讯、网站公告</div>
    </div>
    <div class="web_ hidden cf">
        <div class="index_news fl fadeInUp animated wow" data-wow-duration="1.2s">
            <div class="news-title">
                <span class="animated flipInX wow animated">新闻资讯</span>
            </div>
            <div class="news-list">
                <ul>
                    {volist name="article.news" id="v" offset="0" length='1'}
                    <li>
                        <a href="{:url('news/view')}?navid={$v.nav_id}&id={$v.id}" target="_blank">{$v.title} <span class="fr">({$v.create_time|substr=###, 5, 5})</span></a>
                        <p class="c-5">{$v.content_index}</p>
                    </li>
                    {/volist}
                    {volist name="article.news" id="v" offset="1" length='4'}
                    <li class="cf">
                        <a href="{:url('news/view')}?navid={$v.nav_id}&id={$v.id}" target="_blank">{$v.title} <span class="fr c-4">{$v.create_time|substr=###, 5, 5}</span></a>
                    </li>
                    {/volist}
                </ul>
                <div class="btn btn-more"><a href="{:url('news/newsList')}?navid={$newsId}" target="_blank">查看更多</a></div>
            </div>
        </div>
        <div class="index_notice fr fadeInUp animated wow" data-wow-duration="1.2s">
            <div class="news-title" style="background-position: left bottom">
                <span class="animated flipInX wow animated">网站公告</span>
            </div>
            <div class="news-list">
                <ul>
                    {volist name="article.notice" id="v" offset="0" length='1'}
                    <li>
                        <a href="{:url('news/view')}?navid={$v.nav_id}&id={$v.id}" target="_blank">{$v.title} <span class="fr">({$v.create_time|substr=###, 5, 5})</span></a>
                        <p class="c-5">{$v.content_index}</p>
                    </li>
                    {/volist}
                    {volist name="article.notice" id="v" offset="1" length='4'}
                    <li class="cf">
                        <a href="{:url('news/view')}?navid={$v.nav_id}&id={$v.id}" target="_blank">{$v.title} <span class="fr c-4">{$v.create_time|substr=###, 5, 5}</span></a>
                    </li>
                    {/volist}
                </ul>
                <div class="btn btn-more"><a href="{:url('news/newsList')}?navid={$noticeId}" target="_blank">查看更多</a></div>
            </div>
        </div>
    </div>
</div>
<!--part05 end-->

{include file='home@common/foot' /}

<script type="text/javascript">
    $('.nav-index').addClass('active')
    $(function (){
        //banner
        new Swiper('.swiper-container', {
            loop: true,
            autoplay: 4500,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            autoplayDisableOnInteraction: false,
            prevButton:'.swiper-button-prev',
            nextButton:'.swiper-button-next',
//            effect : 'fade',
        });

        //推荐游戏
        $(".index_recgame ul li").each(function(){
            $(this).mouseenter(function(){
                $(this).addClass('active')
                $(this).children('.image').find('img').removeClass('normal')
                $(this).children('.image').find('img').addClass('scale')
                $(this).children('.image').find('.layout').css({opacity:1})
                $(this).children('.info').css({'height':'110px'});
                $(this).children('.info').find('.btn-box').addClass('fadeInUp')
                $(this).children('.info').find('.btn-box').css({display:"block"})
                $(this).children('.info').find('.btn-box').removeClass('fadeOutDown')
            });
            $(this).mouseleave(function(){
                $(this).removeClass('active')
                $(this).children('.image').find('img').removeClass('scale')
                $(this).children('.image').find('img').addClass('normal')
                $(this).children('.image').find('.layout').css({opacity:0})
                $(this).children('.info').css({'height':'78px'});
                $(this).children('.info').find('.btn-box').addClass('fadeOutDown')
                $(this).children('.info').find('.btn-box').css({display:"none"})
                $(this).children('.info').find('.btn-box').removeClass('fadeInUp')
            });
        });

        //支持终端
        $(".index_support ul li").each(function(){
            $(this).mouseenter(function(){
                $(this).addClass('active')
            });
            $(this).mouseleave(function(){
                $(this).removeClass('active')
            });
        });

        //产品列表
        $(".index_product ul li").each(function(){
            $(this).mouseenter(function(){
                $(this).addClass('active')
            });
            $(this).mouseleave(function(){
                $(this).removeClass('active')
            });
        });
    });
</script>