.DS_Store
Thumbs.db
node_modules/
.vendor/
vendor/
vendor/**/.DS_Store
composer.lock
/.idea/
/.vscode/
.env
.env.*
!.env.example
.phpunit.result.cache
/phpunit.xml
/runtime/
/www.aowenbocai.icu/runtime/
/www.aowenbocai.icu/public/logs/
/www.aowenbocai.icu/public/uploads/tmp/
/logs/
*.log
*.pid
*.seed
*.swp
*.swo
*.orig
*.bak
*.zip
*.tar
*.tar.gz
*.7z
*.sql
*.sql.gz
/www.aowenbocai.icu/node_server/**/node_modules/
/www.aowenbocai.icu/vue-cli-client/node_modules/
/www.aowenbocai.icu/vue-cli-client/dist/
/www.aowenbocai.icu/vue-cli-client/build/
/www.aowenbocai.icu/vue-cli-client/.cache/
/www.aowenbocai.icu/public/static/cache/
/www.aowenbocai.icu/public/static/.cache/
**/.cache/
**/.temp/
**/tmp/
**/temp/
wwwroot.zip
