{include file='common/head' /}
<link href="__STATIC__/bootstarp-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="__STATIC__/bootstarp-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__/bootstarp-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__STATIC__/js/reszieimg.js"></script>
<style>
    .box-padding-bottom form {margin-left: 1rem}
    input[type='checkbox'] {float: left}
</style>
<nav class="plugin_nav">
    <a  class="nav_active">鲜花资金列表</a>
    <a  href="{:url(giftList)}">鲜花赠送记录</a>
</nav>
<div class="box-padding-bottom">
    <ol class="breadcrumb">
    </ol>
    <form class="form-inline" action="">
        <div class="form-group form-group-left">
        <label>时间</label>
        <div class='input-group date' id='begintime' data-date-format="yyyy-mm-dd">
            <input type='text' class="form-control" name="starttime" value="{$query.starttime}" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <label>到</label>
        <div class='input-group date' id='endtime' data-date-format="yyyy-mm-dd">
            <input type='text' class="form-control" name="endtime" value="{$query.endtime}" />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        </div>
        <div class="form-group form-group-left">
        <label>关键字:</label>
        <input type="text" name="words" class="form-control" value="{$query.words}" placeholder="关键字/用户名/内容">
        </div>
        <button type="submit" class="btn btn-default form-group-left">搜索</button>
    </form>
    
    <div class="btn-group" data-toggle="buttons" style="margin:1rem">
        <label class="btn btn-primary isdelete" data-name = "day" data-ids = "1">
            <input type="checkbox"> 动态全部清除
        </label>
        <label class="btn btn-primary isdelete" data-name = "day" data-ids = "30">
            <input type="checkbox"> 清除30天前动态
        </label>
        <label class="btn btn-primary isdelete" data-name = "day" data-ids = "15">
            <input type="checkbox"> 清除15天前动态
        </label>
        <label class="btn btn-primary isdelete" data-name = "day" data-ids = "7">
            <input type="checkbox"> 清除7天前动态
        </label>
        <label class="btn btn-primary isdelete"  data-name = "day" data-ids = "3">
            <input type="checkbox"> 清除3天前动态
        </label>
    </div>
</div>
<div class="box-padding">
    <div class="content tasklist">
        <table class="table">
            <thead>
            <tr>
                <th>昵称<span style="font-size:12px">(用户名)</span></th>
                <th>赠送鲜花数</th>
                <th>赠送前鲜花数</th>
                <th>赠送后鲜花数</th>
                <th>赠送时间</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                {foreach $list as $item} 
                <tr>
                    <td><input type="checkbox" name="userid" value="{$item.id}">{$item.userinfo.nickname}<span style="font-size:12px">({$item.userinfo.username})</span></td>
                    <td>{$item.money}</td>
                    <td>{$item.before}</td>
                    <td>{$item.after}</td>
                    <td>{$item.create_time}</td>
                    <td>{$item.remark}</td>
                    <td>
                        <a href="#" class="btn btn-primary isdelete"  data-name = "id" data-ids = "{$item.id}">删除</a>
                    </td>
                </tr>
                {/foreach}
        
                {eq name = '_empty' value = '1'}
                    <tr><td colspan="6">暂时没有数据.....</td></tr>
                {/eq}
                <tr>
                    <td colspan="6">
                        <button class="btn btn-success selectAll">全选</button>
                        <button class="btn btn-success over">反选</button>
                        <button class="btn btn-success cancleAll">清除选中</button>
                        <button class="btn btn-success check-choice">确认删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        {$page}
    </div>
</div>

<script>
  $(function () {
    $(".check-choice").click(function(){
        var ids = '';
        $("[name='userid']:checked").each(function(){
            ids+= $(this).val() + ',';
        })
        ids = ids.substring(0, ids.length-1);
        var model =  $.modal.confirm('你是否确定删除', function () {
            $.get("{:url('flowerDelete')}",{ids : ids},function(res){
                $.modal.alert(res.msg);
                if(res.err == 0){
                    window.location.reload();
                }
            })
            model.close(); 
        })
    })
    $(".selectAll").click(function(){ 
        $("[name='userid']").prop("checked",true); 
    }) 
    $(".cancleAll").click(function(){ 
        $("[name='userid']").prop("checked",false); 
    })

    $(".over").click(function(){ 
        $("[name='userid']").each(function(){ 
            if($(this).is(":checked")){ 
                $(this).prop("checked",false); 
            }else{ 
                $(this).prop("checked",true); 
            } 
        }) 
    }) 

    $('.isdelete').click(function () {
        var key = $(this).data("name");
        var value = $(this).data("ids");
        if(key == 'id'){
            var data = {id : value};
        }
        if(key == 'day'){
            var data = {day : value};
        }
  
        var model =  $.modal.confirm('你是否确定删除', function () {
          $.get("{:url('flowerDelete')}",data,function(res){
              $.modal.alert(res.msg);
              if(res.err == 0){
                  window.location.reload();
              }
  
          })
          model.close();
        });
    });
    $('#begintime,#endtime').datetimepicker({
      language: 'zh-CN',
      weekStart: 1,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
			endDate : new Date(),
      minView: 2,
      forceParse: 0
    });
    $('#begintime').on('changeDate',function(e){  
        var startTime = e.date;  
        $('#endtime').datetimepicker('setStartDate',startTime);  
    });
    $('#endtime').on('changeDate',function(e){  
        var startTime = e.date;  
        $('#begintime').datetimepicker('setStartDate',startTime);  
    });
  })
</script>
{include file='common/foot' /}