{include file='admin@common/head' /}
<style>
    .icon_box {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;

        width: 80px;
        height: 80px;
        background: #C6EAFF;
        overflow: hidden;
        border: 1px solid #9ED3FF;
        border-radius: 3px;
        position: absolute;
    }

    .dis {
        background: #FFCCCC;
        border: 1px solid #FF9E9E;
    }

    .fish_info {
        padding: 10px;
    }

    .right {
        margin-left: 88px;
        line-height: 26px;
    }

    .hit, .sp {
        color: #C32AD6;
        font-weight: 700;
    }

    .sp {
        color: #23AB92;
    }
</style>
<nav class="plugin_nav">
    <a class="nav_active" href="{:url('index')}">奖品列表</a>
    <a href="{:url('add_setting')}">添加奖品</a>
</nav>
<div id="app" class="box-padding">
    <div class="breadcrumb">
        <ol class="">
            <li class="active"><i class="glyphicon glyphicon-link"></i> 奖品列表</li>
        </ol>
    </div>
    <div class="alert alert-success" role="alert">
        <form class="form-inline fr" action="{:url('set')}" method="post" style="margin-top:-7px;">
            <div class="form-group">
                每天免费次数：
                <input type="text" name="dzp_count" class="form-control" value="{$dzp_count}" placeholder="会员每天免费次数">
            </div>
            <button class="btn btn-default form-group-left btn-sm" type="submit">修改</button>
        </form>
        小提示：命中率的和为1000，奖品不能少于12个，且只能同时有12个处于启用状态。
    </div>
    <div class="row">
        {foreach $list as $item}
        <div class="col-lg-4 col-md-6">
            <div class="fish_info">
                <div class="icon_box{$item.status == 1 ? '' : ' dis'}">
                    <img src="{$item.photo}" alt="" width="54">
                </div>
                <div class="right">
                    <div>名称：{$item.name}(已{$item.status == 1 ? '启用' : '禁用'})</div>
                    <div>概率：<span class="hit">{$item.chance}</span>‰ 数量：<span class="sp">{$item.num}</span></div>
                    <a class="btn btn-primary btn-xs" href="{:url('edit_setting', ['id' => $item.id])}">修改</a>
                    <a class="btn {$item.status == 1 ? 'btn-success' : 'btn-danger'} btn-xs"
                       href="{:url('setStatus', ['id' => $item.id])}">{$item.status == 1 ? '启用' : '禁用'}</a>

                </div>
            </div>
        </div>
        {/foreach}

    </div>
</div>
{include file='admin@common/foot' /}
