{include file='web@common/game_head' title="欢乐捕鱼"/}
<link rel="stylesheet" href="/static/vipweb/css/game.css">

<div class="game-fish">
    <div class="game-web-hp">
        <div class="game-iframe-hp" style="border: 5px solid #ffffff">
            <iframe src="{:url('../fish50')}" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="mt15 help">
            <h3>欢乐捕鱼游戏说明</h3>
            <div>
                <p>1、玩家需注册游戏账号方可参与该游戏</p>
                <p>2、玩家可以选择50-1000炮弹，点击屏幕中的鱼进行攻击，有一定的几率击中目
                    标，并且获得对应的奖励（炮弹数 * 鱼的倍数）。</p>
                <p>3、子弹射击后到屏幕边缘会反弹，直到击中鱼。</p>
                <p>4、玩家击中目标后有一定的几率获得技能卡片。</p>
                <p>5、消耗技能卡可以获得对应的技能效果。</p>
                <p>6、用户不得利用外挂、爬虫软件或其他恶意手段获得奖励，已经发现，我们
                有权对所有使用非法手段的账号进行不予发奖、冻结、查封等操作。在法律许可
                的范围内本公司拥有本游戏的解释权。</p>
                <p>7、受网络影响，页面动画表现可能存在误差，最终中奖结果请以订单详情中
                    的结果为准。</p>
            </div>
        </div>
    </div>
</div>
{include file='web@common/foot'/}