@charset "UTF-8";
.filter-icon {
  margin-right: 5px;
  position: relative; }
  .filter-icon i.dian {
    position: absolute;
    right: 5px;
    bottom: 4px;
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #e50e03;
    background-color: #ffffff; }

.betbtns-box {
  margin-bottom: 8px; }
  .betbtns-box .betbtns-wrap .betbtns-wrap-table {
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
    text-align: center; }
    .betbtns-box .betbtns-wrap .betbtns-wrap-table th {
      font-weight: 400;
      width: 18px;
      font-size: 10px;
      color: #fff;
      line-height: 1.2;
      text-align: center; }
    .betbtns-box .betbtns-wrap .betbtns-wrap-table .no-sale {
      background-color: #ffffff;
      border: 1px solid #ececec;
      height: 38px; }
    .betbtns-box .betbtns-wrap .betbtns-wrap-table i {
      color: #ababab;
      font-size: 12px;
      padding-left: 2px; }
    .betbtns-box .betbtns-wrap .betbtns-wrap-table .betbtns {
      table-layout: fixed;
      width: 100%; }
      .betbtns-box .betbtns-wrap .betbtns-wrap-table .betbtns td {
        height: 38px;
        font-size: 14px;
        background: #fff;
        border: 1px solid #ececec;
        position: relative;
        z-index: 3; }
        .betbtns-box .betbtns-wrap .betbtns-wrap-table .betbtns td.active {
          background-color: #ef4f4f;
          color: #ffffff; }
          .betbtns-box .betbtns-wrap .betbtns-wrap-table .betbtns td.active i, .betbtns-box .betbtns-wrap .betbtns-wrap-table .betbtns td.active em {
            color: #ffffff; }
    .betbtns-box .betbtns-wrap .betbtns-wrap-table .betbtns-sf {
      margin: 10px 0 5px; }
  .betbtns-box .betbtns-wrap-more {
    width: 40px;
    line-height: 1.5;
    font-size: 14px;
    padding: 16px 0;
    border: 1px solid #eee;
    border-left: none;
    height: 77px;
    background-color: #ffffff;
    text-align: center; }

.jc-bet-cont .jc-head {
  height: 35px;
  line-height: 35px;
  color: #8a8a8a;
  font-size: 13px;
  position: relative; }
  .jc-bet-cont .jc-head i {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block; }
    .jc-bet-cont .jc-head i.is-active {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      color: #e50e03; }
    .jc-bet-cont .jc-head i.no-active {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
.jc-bet-cont .isFixed {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 50; }
.jc-bet-cont .jc-item {
  background-color: #f4f4f4;
  padding: 0 10px 0 0; }
  .jc-bet-cont .jc-item-left {
    width: 76px;
    font-size: 11px;
    text-align: center;
    line-height: 1.4;
    color: #717171;
    padding-top: 22px; }
  .jc-bet-cont .jc-item .fx-mt-sm {
    padding-top: 0px; }
  .jc-bet-cont .jc-item-right .dang-mteam {
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-weight: 400;
    font-size: 15px;
    color: #000; }
    .jc-bet-cont .jc-item-right .dang-mteam i, .jc-bet-cont .jc-item-right .dang-mteam em {
      color: #c8c8c8;
      font-size: 12px; }
    .jc-bet-cont .jc-item-right .dang-mteam .itm-vs {
      color: #c8c8c8;
      padding: 0 15px; }
  .jc-bet-cont .jc-item-right .betsel-list-wrap {
    margin-bottom: 8px;
    background-color: #ffffff;
    line-height: 34px;
    font-size: 13px;
    text-align: center;
    color: #232323; }
    .jc-bet-cont .jc-item-right .betsel-list-wrap .betbtns-wrap .betbtns .betbtn-pl-item {
      border: 1px solid #eeeeee; }
      .jc-bet-cont .jc-item-right .betsel-list-wrap .betbtns-wrap .betbtns .betbtn-pl-item span {
        border-right: 1px solid #eeeeee;
        position: relative;
        z-index: 3; }
        .jc-bet-cont .jc-item-right .betsel-list-wrap .betbtns-wrap .betbtns .betbtn-pl-item span:last-child {
          border-right: none; }
    .jc-bet-cont .jc-item-right .betsel-list-wrap .betbtns-wrap i.jc-binding {
      color: #ababab;
      font-size: 12px;
      padding-left: 2px; }
    .jc-bet-cont .jc-item-right .betsel-list-wrap .betbtns-wrap span.active {
      background-color: #ef4f4f;
      color: #ffffff; }
      .jc-bet-cont .jc-item-right .betsel-list-wrap .betbtns-wrap span.active i.jc-binding {
        color: #ffffff; }
    .jc-bet-cont .jc-item-right .betsel-list-wrap .betbtns:nth-child(2) {
      margin-top: -1px; }
    .jc-bet-cont .jc-item-right .betsel-list-wrap .betbtns:nth-child(2).n-top {
      margin-top: 0; }
  .jc-bet-cont .jc-item-right .text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px; }
  .jc-bet-cont .jc-item-right .betbtn-rang {
    width: 20px;
    background-color: #02b4fe;
    color: #ffffff;
    font-size: 11px; }
  .jc-bet-cont .jc-item-right .positive {
    background-color: #FF9800; }
  .jc-bet-cont .jc-item-right .minus {
    background-color: #68d268; }
  .jc-bet-cont .jc-item-right .betsel-list-more {
    width: 40px;
    line-height: 1.5;
    font-size: 14px;
    padding: 13px 0;
    border: 1px solid #eee;
    border-left: none;
    height: 71px; }
.jc-bet-cont .fxinfo-box {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .jc-bet-cont .fxinfo-box.fxinfo-box-on {
    height: 144px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .jc-bet-cont .fxinfo-box .jc-item-fxinfo {
    background-color: #43454d; }
    .jc-bet-cont .fxinfo-box .jc-item-fxinfo ul > li {
      padding-left: 22px;
      line-height: 30px;
      font-size: 13px;
      color: #c4c7db; }
      .jc-bet-cont .fxinfo-box .jc-item-fxinfo ul > li:nth-child(2n) {
        background-color: #4b4d55; }
    .jc-bet-cont .fxinfo-box .jc-item-fxinfo .more a {
      display: inline-block;
      text-align: center;
      height: 26px;
      line-height: 26px;
      margin: 10px auto;
      color: #c4c7db;
      border: 1px solid #c4c7db;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      border-radius: 13px;
      font-size: 12px;
      padding: 0 15px; }

.jc-info-arrow {
  display: block;
  width: 25%;
  height: 6px;
  line-height: 0;
  text-align: center; }
  .jc-info-arrow .ico-arrow2 {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 0;
    border-width: 0 6px 6px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #43454d; }

.jc-bet-foot {
  height: 52px;
  background-color: #ffffff;
  padding: 5px 0; }
  .jc-bet-foot .bet-del {
    width: 52px;
    text-align: center;
    line-height: 1.2;
    color: #888888; }
  .jc-bet-foot .btn-sure {
    background-color: #e34f48;
    color: #ffffff;
    padding: 10px 20px;
    margin-right: 8px; }

.jc-dialog-head i, .jc-dialog-head em {
  color: #c8c8c8;
  font-size: 12px; }
.jc-dialog-head .itm-vs {
  color: #c8c8c8;
  padding: 0 10px; }

.jc-dialog-cont .popbox-betsel-tablehd {
  padding-left: 10px;
  font-size: 13px;
  color: #333; }
.jc-dialog-cont .popbox-betsel-tablewrap {
  padding: 0 10px; }
  .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table {
    margin-bottom: 10px;
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
    text-align: center; }
    .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table th {
      font-weight: 400;
      width: 18px;
      font-size: 10px;
      color: #fff;
      border-right: 1px solid #e4e4e4;
      line-height: 1.2;
      height: 43px;
      text-align: center; }
    .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .popbox-betsel-redth {
      background: #f76665; }
    .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .popbox-betsel-blueth {
      background: #02b4fe; }
    .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .popbox-betsel-greenth {
      background: #68d268; }
    .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .popbox-betsel-green2th {
      background: #b2cfff; }
    .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .popbox-betsel-orgh {
      background: #e7bdff; }
    .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .popbox-betsel-glight {
      background: #ff9e9e; }
    .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table i {
      display: block;
      font-size: 10px;
      line-height: 11px;
      color: #999; }
    .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .all-table {
      table-layout: fixed;
      width: 100%; }
      .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .all-table td {
        padding: 5px 0;
        height: 43px;
        font-size: 14px;
        background: #fff;
        border: 1px solid #ececec;
        position: relative;
        z-index: 3; }
        .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .all-table td.r-n {
          border-right: none; }
        .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .all-table td.b-n {
          border-bottom: none; }
        .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .all-table td.active {
          background-color: #ef4f4f;
          color: #ffffff; }
          .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .all-table td.active i, .jc-dialog-cont .popbox-betsel-tablewrap .popbox-betsel-table .all-table td.active em {
            color: #ffffff; }

.filter-match-cont {
  padding: 15px 10px; }
  .filter-match-cont .sel-btn {
    margin: 0 0 10px 0; }
    .filter-match-cont .sel-btn span {
      display: inline-block;
      height: 38px;
      line-height: 38px;
      background-color: #ffffff; }
      .filter-match-cont .sel-btn span:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .filter-match-cont .sel-btn span:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      .filter-match-cont .sel-btn span.selected {
        background-color: #e34f48;
        color: #ffffff; }
  .filter-match-cont .sel-group {
    margin-bottom: 15px; }
    .filter-match-cont .sel-group ul > li {
      width: 23%;
      float: left;
      border: 1px solid #dfdfdf;
      position: relative;
      margin: 10px 1.3% 0;
      text-align: center;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #ffffff; }
      .filter-match-cont .sel-group ul > li:nth-child(4n) {
        margin-right: 0; }
      .filter-match-cont .sel-group ul > li:nth-child(4n - 3) {
        margin-left: 0; }
      .filter-match-cont .sel-group ul > li.active {
        border: 1px solid #e34f48;
        color: #e34f48; }
      .filter-match-cont .sel-group ul > li i {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #e34f48;
        display: inline-block;
        height: 14px;
        width: 14px;
        line-height: 1; }

.chose-code li i {
  padding-right: 10px; }
.chose-code li font {
  padding-right: 10px;
  color: #000; }
.chose-code li em {
  padding-right: 10px; }

.gendan-list {
  background-color: #ffffff;
  margin-top: 10px;
  padding: 10px 10px 5px 10px; }
  .gendan-list .gandan-list-header {
    margin-bottom: 5px; }
    .gendan-list .gandan-list-header a {
      color: #333333; }
    .gendan-list .gandan-list-header .photo {
      display: inline-block;
      width: 44px;
      height: 44px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 5px; }
  .gendan-list .gandan-list-xy {
    line-height: 1.5;
    padding: 5px 0; }
  .gendan-list .gandan-list-info {
    border: 1px solid #dddddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 5px;
    background-color: #f8f8f8; }
    .gendan-list .gandan-list-info p {
      text-align: center;
      display: flex; }
    .gendan-list .gandan-list-info .info-table {
      flex: 1; }
      .gendan-list .gandan-list-info .info-table span {
        width: 33.3%;
        display: inline-block;
        text-align: center;
        height: 34px;
        line-height: 34px; }
    .gendan-list .gandan-list-info .gendan-btn {
      padding: 0 10px; }
      .gendan-list .gandan-list-info .gendan-btn a {
        display: inline-block;
        width: 34px;
        line-height: 34px;
        width: 60px;
        text-align: center;
        background-color: #e34f48;
        color: #ffffff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }

.th-zq-col1 {
  background-color: #c3c3c3; }

.th-zq-col2 {
  background-color: #e7797d; }

.th-zq-col3 {
  background-color: #a2c860; }

.th-zq-col4 {
  background-color: #87c9b2; }

.th-zq-col5 {
  background-color: #69b4cf; }

.th-zq-col6 {
  background-color: #e7955d; }

.th-lq-col1 {
  background-color: #c3c3c3; }

.th-lq-col2 {
  background-color: #7ea5d9; }

.th-lq-col3 {
  background-color: #87c9c9; }

.th-lq-col4 {
  background-color: #8790d8; }

.th-lq-col5 {
  background-color: #eaa659; }

.jc-order .jc-item {
  padding: 0 15px; }
  .jc-order .jc-item .dang-mteam {
    font-size: 13px;
    height: 30px;
    line-height: 30px; }
  .jc-order .jc-item .betsel-list-wrap i.jc-binding {
    font-size: 11px; }
  .jc-order .jc-item .betsel-list-more {
    padding: 10px 0;
    font-size: 12px;
    height: 57px; }
  .jc-order .jc-item .jc-item-del {
    margin-left: 10px; }
    .jc-order .jc-item .jc-item-del i {
      display: inline-block;
      width: 18px;
      height: 18px;
      /* border: 1px solid #eeeeee; */
      text-align: center;
      /* background-color: #ffffff; */
      line-height: 20px;
      color: #c1c1c1;
      font-size: 20px;
      margin-top: 18px; }

.jc-order-foot {
  height: 122px;
  overflow: hidden; }
  .jc-order-foot .foot-agree {
    border: solid #eeeeee;
    border-width: 1px 0;
    padding: 0 5px;
    font-size: 13px; }
    .jc-order-foot .foot-agree .mint-radio-core {
      width: 16px;
      height: 16px; }
      .jc-order-foot .foot-agree .mint-radio-core::after {
        top: 3px;
        left: 3px; }
  .jc-order-foot .foot-set {
    background-color: #f1f1f1;
    font-size: 14px;
    height: 44px;
    padding: 0 10px; }
    .jc-order-foot .foot-set .set-type {
      color: #3d3d3d;
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 1px #b8bbbf;
      box-shadow: 0 0 1px #b8bbbf;
      display: inline-block;
      font-size: 14px;
      text-align: center;
      height: 33px;
      width: 130px;
      padding: 0 5px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      display: flex; }
      .jc-order-foot .foot-set .set-type span.words {
        display: inline-block;
        width: 105px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .jc-order-foot .bet-submit {
    padding: 3px 3px 3px 10px;
    border-top: 1px solid #eeeeee;
    background-color: #ffffff; }
    .jc-order-foot .bet-submit .acount-award {
      line-height: 1.5; }
    .jc-order-foot .bet-submit .btn-sure {
      background-color: #e50e03;
      color: #ffffff;
      margin-left: 5px;
      padding: 8px 15px; }

/*过关方式*/
.type-set-popup .type-set-item {
  padding: 15px; }
  .type-set-popup .type-set-item ul {
    margin: 10px 0; }
    .type-set-popup .type-set-item ul li {
      width: 23%;
      float: left;
      border: 1px solid #dfdfdf;
      position: relative;
      margin: 10px 1.3% 0;
      text-align: center;
      height: 35px;
      line-height: 35px;
      font-size: 15px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #ffffff; }
      .type-set-popup .type-set-item ul li:nth-child(4n) {
        margin-right: 0; }
      .type-set-popup .type-set-item ul li:nth-child(4n - 3) {
        margin-left: 0; }
      .type-set-popup .type-set-item ul li.active {
        border: 1px solid #e50e03;
        color: #e50e03; }
      .type-set-popup .type-set-item ul li i {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #e50e03;
        display: inline-block;
        height: 14px;
        width: 14px;
        line-height: 1; }
.type-set-popup .type-set-btn {
  height: 50px;
  background-color: #fbfbfb;
  border-top: 1px solid #eeeeee;
  text-align: center; }
  .type-set-popup .type-set-btn div {
    height: 50px;
    line-height: 50px; }

.join-visible, .chase-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 10; }

.bet-join .info {
  font-size: 13px;
  height: 48px; }
  .bet-join .info .label {
    height: 48px;
    line-height: 48px;
    margin-right: 10px;
    width: 70px;
    text-align: center;
    background-color: #efefef; }
  .bet-join .info .cont {
    flex: 1;
    padding-right: 2px; }
    .bet-join .info .cont .select-type {
      padding: 5px 10px;
      display: inline-block; }
    .bet-join .info .cont .input {
      border: 0.5px solid #EBEEF5;
      padding: 8px 5px;
      width: 95%; }
  .bet-join .info .join-tip {
    font-size: 12px;
    color: #909399; }

.mint-radio-core {
  width: 16px;
  height: 16px; }
  .mint-radio-core:after {
    top: 3px;
    left: 3px; }

.jc-orders-info .order-title {
  padding-bottom: 10px; }
.jc-orders-info .order-info {
  padding: 10px 0;
  line-height: 2;
  font-size: 15px; }
  .jc-orders-info .order-info .name {
    color: #888888;
    padding-right: 10px; }
  .jc-orders-info .order-info .gendan-set .gendan-btn em {
    display: inline-block;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: 14px;
    border: 1px solid #eaeaea; }
    .jc-orders-info .order-info .gendan-set .gendan-btn em.active {
      background-color: #e50e03;
      color: #ffffff;
      border-color: #e50e03; }
  .jc-orders-info .order-info .gendan-set .gendan-xy textarea {
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 5px;
    line-height: 20px;
    width: 100%;
    font-size: 14px; }

.zucai-bet-item div.item {
  background-color: #ffffff;
  height: 55px;
  border: 1px solid #e8e8e8;
  line-height: 1.3;
  text-align: center;
  padding-top: 6px; }
  .zucai-bet-item div.item em.pl {
    font-size: 12px;
    color: #ababab;
    font-size: 12px; }
.zucai-bet-item div.active {
  background-color: #ef4f4f;
  color: #ffffff; }
  .zucai-bet-item div.active em, .zucai-bet-item div.active em.pl {
    color: #ffffff; }
  .zucai-bet-item div.active i {
    color: #ffffff; }
.zucai-bet-item .bet-win, .zucai-bet-item .bet-lost {
  width: 35%; }
.zucai-bet-item .bet-draw {
  width: 27%;
  margin: 0 1.5%; }

.zucai-cont .jc-item {
  padding: 10px 10px 10px 0; }

.dlt-wrapper .fore {
  background-color: #fdf7f2;
  padding: 10px; }
.dlt-wrapper .after {
  background-color: #f6f3f9;
  padding: 10px; }
.dlt-wrapper .random-btn {
  width: 90px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  display: flex;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .dlt-wrapper .random-btn span {
    display: inline-block;
    text-align: center;
    flex: 1;
    font-size: 13px; }
    .dlt-wrapper .random-btn span.random-num {
      border-right: 1px solid #e4e4e4; }
.dlt-wrapper .head {
  position: relative; }
.dlt-wrapper .head .select-grounp .bet-fir li {
  width: 23%;
  height: 35px;
  line-height: 35px;
  margin: 4px 1%; }
.dlt-wrapper .jc-info-arrow {
  display: block;
  width: 45px;
  text-align: center;
  float: right;
  margin-right: 45px; }
.dlt-wrapper .bet-box ul.balls-box li {
  width: 14.2%;
  margin-top: 3px;
  margin-bottom: 3px; }
.dlt-wrapper .fore-bet-wrapper ul.balls-box li .balls {
  background-color: #ffffff;
  border: 1px solid #f7d3aa;
  color: #f19b38;
  font-size: 17px;
  width: 38px;
  height: 38px;
  line-height: 36px;
  box-sizing: border-box; }
.dlt-wrapper .fore-bet-wrapper ul.balls-box li .selected {
  color: #ffffff;
  background-color: #ff8a00;
  border: 1px solid #ff8a00; }
.dlt-wrapper .fore-bet-wrapper ul.balls-box li .killed {
  color: #666666;
  background: linear-gradient(45deg, transparent 49.5%, #cdcdcd 49.5%, #cdcdcd 50.5%, transparent 50.5%);
  background-color: #efefef;
  border: 1px solid #d4d4d4;
  animation: scale .1s;
  color: #8e8e8e; }
.dlt-wrapper .back-bet-wrapper ul.balls-box li .balls {
  background-color: #ffffff;
  border: 1px solid #d3d2ee;
  color: #629be6;
  font-size: 17px; }
.dlt-wrapper .back-bet-wrapper ul.balls-box li .selected {
  color: #ffffff;
  background-color: #6857ca;
  border: 1px solid #6857ca; }
.dlt-wrapper .back-bet-wrapper ul.balls-box li .killed {
  color: #666666;
  background: linear-gradient(45deg, transparent 49.5%, #cdcdcd 49.5%, #cdcdcd 50.5%, transparent 50.5%);
  background-color: #efefef;
  border: 1px solid #d4d4d4;
  animation: scale .1s;
  color: #8e8e8e; }
.dlt-wrapper .marquee_box {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  /*关键样式*/
  overflow: hidden;
  /*关键样式*/ }
  .dlt-wrapper .marquee_box .marquee_top {
    transition: top 0.5s; }
  .dlt-wrapper .marquee_box .marquee_list {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center; }
    .dlt-wrapper .marquee_box .marquee_list li {
      height: 30px;
      /*关键样式*/
      line-height: 30px;
      /*关键样式*/
      font-size: 13px;
      background-color: #fff; }

.random-select {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 2; }
  .random-select ul {
    width: 100%;
    background-color: rgba(17, 17, 19, 0.84);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .random-select ul li {
      float: left;
      width: 14.2%;
      height: 35px;
      text-align: center;
      color: #ffffff;
      line-height: 35px; }

.today-open-tips {
  font-size: 10px;
  padding: 2px 5px;
  background-color: #e50e03;
  color: #ffffff; }

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  50% {
    opacity: 0.5;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
@-moz-keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  50% {
    opacity: 0.5;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
@-webkit-keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  50% {
    opacity: 0.5;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  50% {
    opacity: 0.5;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    -moz-transform: scale(1); } }
.random-box .random-head {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #888888; }
.random-box .random-cont {
  padding: 5px 10px; }
  .random-box .random-cont .random-btn-set {
    width: 50%;
    float: left;
    font-size: 12px;
    margin-bottom: 8px; }
    .random-box .random-cont .random-btn-set .random-num {
      border: 1px solid #eeeeee;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 0 5px;
      height: 24px;
      line-height: 24px;
      width: 42px;
      font-size: 12px;
      display: inline-block;
      background-color: #ffffff; }
      .random-box .random-cont .random-btn-set .random-num em {
        display: inline-block;
        width: 25px;
        text-align: center;
        font-size: 13px; }

/*# sourceMappingURL=jc.css.map */
