@charset "utf-8";
@import "./variables";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,div{margin:0;padding:0;box-sizing: border-box}
body,input,textarea,select,button,table{border-collapse:collapse;border-spacing:0;}
body,html{font:normal 1em/1.25em 'microsoft Yahei',Verdana,Arial,Helvetica,sans-serif;color:$color-font-primary;-webkit-text-size-adjust:none;width:100%;
   min-width: 320px;margin: 0;padding:0;background-color: $color-bg;overflow-x: hidden;height:100%;}
html{font-size: $baseFontSize;min-height:100%;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,fieldset{border:0 none;}
ul,ol,li{list-style:none;}
em,address{font-style:normal;}
table{border-collapse:collapse;}
em,i{font-style:normal;}
img{border:none;}
input,img{vertical-align:middle;}
input,button,select,textarea{outline:none;-webkit-appearance: none;}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
textarea:focus{outline:0;}
a{text-decoration:none;color: $color-font-secondary}
a.link{
    color: #0c6ad4;
    text-decoration: underline;
}
.fl{float: left}
.fr{float: right}

.clearfloat:after , .cf:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat, .cf{zoom:1;overflow: hidden}
.flex-box{
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    flex:1;
    -webkit-flex: 1;
    -webkit-box-flex:1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    align-items: center
}
.flex-box-c{display: flex;align-items: center;justify-content: center;-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.flex-start{align-items: flex-start;}
.tl{text-align: left}
.tc{text-align: center}
.tr{text-align: right}

.mt{margin-top: 15px}
.mf{margin-bottom: 15px}
.mt-sm{margin-top: 8px}
.mf-sm{margin-bottom: 8px}
.ml-sm{margin-left: 8px}
.mr-sm{margin-right: 8px}
.card{background-color: #ffffff;overflow: hidden;}
.card-pd{padding: 15px}
.pd-sm{
    padding: 10px;
}

.block{display: block}

.f-mini{font-size: $font-mini}
.f-sm{font-size: $font-small}
.f-common{font-size: $font-common}
.f-large{font-size: $font-large}

.c-4{color: $color-font-seize}
.c-3{color: $color-font-secondary}
.c-2{color: $color-font-common}
.c-1{color: $color-font-primary}

.red{color: $bColor}
.suc{color: $Success}
.org{color: $Warning}
.abled{color: #008eff}
.yellow{color: yellow}
.disabled{color: $color-font-seize; pointer-events: none;cursor: default; }

.red-point{
    display: inline-block;
    border:1px solid #ffffff;
    width: 9px;
    height: 9px;
    background-color: red;
    border-radius: 50%;
}
.mint-indicator-wrapper{
    z-index: 9999;
}
.btn-box{padding:15px 20px;}
.logo{padding: 15px 0}
.mint-field .mint-cell-title{width: 75px;padding-right: 10px;}
.btn-loading{
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-right: .5rem;
}
a.router-link{
    color: $color-font-primary;
}
.b-height{height: 55px;}
.t-height{height: 40px}
.mint-header{
    font-size: 1rem;
}
.ball{
    $w:28px;
    background-color: #e73d32;
    font-size: 14px;
    color: #ffffff;
    width: $w;
    height: $w;
    margin-right: 5px;
    line-height: $w;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-weight:500;
}
.ball-sm{
    $w:20px;
    background-color: #e73d32;
    font-size: 12px;
    color: #ffffff;
    width: $w;
    height: $w;
    margin-right: 5px;
    line-height: $w;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}
.article-detail{
    p{
        padding: 3px 0;
    }
    img{
        max-width: 100%;
    }
}
/*手机端实现真正的一像素边框*/
.border-1px, .border-1px-red , .border-bottom-1px, .border-top-1px, .border-left-1px, .border-right-1px {
    position: relative;
}
/*线条颜色*/
.border-bottom-1px::after, .border-top-1px::after, .border-left-1px::after, .border-right-1px::after {
    background-color: $boder-color;
}

/*底边边框一像素*/
.border-bottom-1px::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform-origin: 0 0;
}

/*上边边框一像素*/
.border-top-1px::after {
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform-origin: 0 0;
}

/*左边边框一像素*/
.border-left-1px::after {
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform-origin: 0 0;
}

/*右边边框1像素*/
.border-right-1px::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform-origin: 0 0;
}

/*边框一像素*/
.border-1px::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $boder-color;
}
.border-1px-red::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ff0000;
}

/*设备像素比*/
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min-resolution: 2dppx) {
    .border-bottom-1px::after, .border-top-1px::after {
        transform: scaleY(0.5);
    }

    .border-left-1px::after, .border-right-1px::after {

        transform: scaleX(0.5);
    }
    .border-1px::after, .border-1px-red::after {
        width: 200%;
        height: 200%;
        transform: scale(0.5);
        transform-origin: 0 0;
    }
}

/*设备像素比*/
@media only screen and (-webkit-min-device-pixel-ratio: 3.0), only screen and (min-resolution: 3dppx) {
    .border-bottom-1px::after, .border-top-1px::after {
        transform: scaleY(0.333);
    }
    .border-left-1px::after, .border-right-1px::after {
        transform: scaleX(0.333);
    }
    .border-1px::after,.border-1px-red {
        width: 300%;
        height: 300%;
        transform: scale(0.333);
        transform-origin: 0 0;
    }
}

.cell .mint-cell-title{
    display: flex;
    i{
        text-align: center;
        font-size: 18px;
        margin-right: 8px;
        color: #ef4f4f;
        width: 25px;
        //display: inline-block;
        //width: 30px;
        //height: 30px;
        //line-height: 30px;
        //font-size: 14px;
        //background-color: #feecee;
        //border-radius: 50%;
    }
}

//transition过渡效果 name='fade'
.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.Router{
    position: absolute;
    width: 100%;
    transition: all .3s ease;
    left: 0;
    top:0px;
    //min-height: 100%;
    //overflow-y: scroll;
    //-webkit-overflow-scrolling: touch;
}
.Router-fade{
    position: absolute;
    width: 100%;
    transition: all .3s ease;
    left: 0;
    top:0px;
    //min-height: 100%;
}
.Router-list{
    position: absolute;
    width: 100%;
    transition: all .3s ease;
    //min-height: 100%;
    left: 0;
    top:40px;
    //padding-top: 40px;
}
.slide-right-enter-active,
.slide-right-leave-active,
.slide-up-enter-active,
.slide-up-leave-active,
.slide-down-enter-active,
.slide-down-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    will-change: transform;
    transition: all 380ms;
    //position: absolute;
    //width:100%;
    //height:100%;
    //top:0px;
    //left: 0;
    //overflow: hidden;
}
.slide-right-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.slide-up-enter {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
}
.slide-up-leave-active {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}
.slide-down-enter {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}
.slide-down-leave-active {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
}

.contentH{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

//合买等级
.join-level {
    padding-left: 5px;
    vertical-align: middle;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    overflow: hidden;
    span{
        display: inline-block;
        float: left;
        i{
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            &.hg{
                background: url("/static/vipweb/images/lv/hg.gif") no-repeat center;
            }
            &.ty{
                background: url("/static/vipweb/images/lv/ty.gif") no-repeat center;
            }
            &.yl{
                background: url("/static/vipweb/images/lv/yl.gif") no-repeat center;
            }
            &.xx{
                background: url("/static/vipweb/images/lv/xx.gif") no-repeat center;
            }
            sub{
                position: absolute;
                width: 9px;
                height: 9px;
                display: inline-block;
                right: 0;
                bottom: 0;
                background: url("/static/vipweb/images/lv/sprite-join.png") no-repeat;
                &.lv1{
                    background-position: 0 0;
                }
                &.lv2{
                    background-position: -10px 0;
                }
                &.lv3{
                    background-position: -20px 0;
                }
                &.lv4{
                    background-position: -30px 0;
                }
                &.lv5{
                    background-position: -40px 0;
                }
                &.lv6{
                    background-position: 0px -9px;
                }
                &.lv7{
                    background-position: -10px -9px;
                }
                &.lv8{
                    background-position: -20px -9px;
                }
                &.lv9{
                    background-position: -30px -9px;
                }
            }
        }
    }
}
.tips{
    padding: 5px;
    background: #fffdeb;
    color: #f46e00;
    font-size: 13px;
}
/*mint-ui 样式重置*/
.mint-popup{
    width: 100%;
    padding: 10px;
}
.detail{
    .mint-cell{
        min-height: 62px;
    }
}
/*mint-ui 样式重置 end*/
.input-title{
    padding: 5px 10px;
    font-size: $font-small;
    color: $color-font-secondary;
}

//步骤
.steps{
    display: flex;
    span{
        flex: 1;
        display: inline-block;
        height: 5px;
        background-color: $color-font-seize;
        border-right: 1px solid #ffffff;
        &:last-child{
            border-right:none;
        }
        &.active{
            background-color: $Success;
        }
    }
}
//投注订单详情
.orders-info{
    width: 100%;
    .order-title{
        padding-bottom: 8px;
        margin-bottom: 10px;
    }
    .order-info{
        line-height: 1.8;
        font-size: $font-small;
        color: $color-font-common;
        padding-bottom: 10px;
    }
    .order-footer{
        .cancel{
            margin-right: 10px;
        }
    }
}


.rotateIcon{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: inline-block;
    &.is-active{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        transform: rotate(180deg);
    }
    &.no-active{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform: rotate(0deg);
    }
}

.no-data{
    padding: 40px 0;
    line-height: 1;
    i{
        font-size: 80px;
        color: #d6d6d6;;
    }
}

//代理
.label-large .mint-tab-item-label{
    font-size: 16px;
}
.mint-navbar .mint-tab-item.is-selected{
    border-bottom-width: 2px;
}
.table-report{
    th{
        line-height: 40px;
        color: #6e7a82;
        background-color: #ffffff;
    }
}

//游戏列表
.title-name{
    @include box(margin,20,5);
    font-size: $font-small + 1;
    font-weight: 500;
    i{
        font-weight: bold;
        color: $bColor;
    }
}
.index-list{
    &-group{
        overflow: hidden;
        @include box(margin,15,0);
        a{
            text-align: center;
            display: inline-block;
            width: 33.3%;
            float: left;
            @include box(margin,15,0);
            height: 106px;
            .list-item-image{
                height: pxTorem(60);
                img{
                    height: 100%;
                    max-width: 100%;
                }
            }
            .list-item-text{
                .title{
                    margin-top: pxTorem(5);
                    @include box(padding,2,0,2,0);
                    height: pxTorem(20);
                    font-size: pxTorem(14);
                    color: $color-font-primary;
                }
                .memo{
                    height: pxTorem(20);
                    line-height: pxTorem(20);
                    font-size: pxTorem(10);
                    color: $color-font-secondary;
                }
            }
        }
    }
}

.top-tab{
    @include rounded(4px);
    border:1px solid #ffffff;
    width: 150px;
    margin: 0 auto;
    li{
        float: left;
        width: 74px;
        height: 28px;
        line-height: 28px;
        font-size: 15px;
        &.active{
            background-color: #ffffff;
            color: $bColor;
        }
    }
}

i.animate-jt{
    font-size: 24px;
    @include dz();
    display: inline-block;
    position: relative;
    &.is-active{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        transform: rotate(180deg);
        //color: $bColor;
        color: #888888;
    }
    &.no-active{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform: rotate(0deg);
    }
}

.user-photo{
    display: inline-block;
    width: 40px;
    height: 40px;
    @include rounded(50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 8px;
}
.input-checkbox{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    @include rounded(2px);
    border: 1px solid #dcdfe6;
}
.checkbox-checked{
    border:1px solid $bColor;
    background-color: $bColor;
    position: relative;
    @include dz();
    &:after{
        box-sizing: content-box;
        content: "";
        border: 1px solid #fff;
        border-left: 0;
        border-top: 0;
        height: 8px;
        left: 5px;
        position: absolute;
        top: 1px;
        transform: rotate(45deg) scaleY(1);
        width: 3px;
        transition: transform .15s ease-in .05s;
        transform-origin: center;
    }
}





