<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}{:isset($site_name) ? '-' . $site_name : ''}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" href="/static/theme/default/css/icon.css">
    <link rel="stylesheet" href="/static/font/iconfont.css"/>
    <link rel="stylesheet" href="__CSS__/base.css">

    <script src="__JS__/zepto.min.js"></script>
    <script src="__JS__/iscroll.js"></script>
    <script src="__JS__/swiper.min.js"></script>
    <script src="__JS__/ui.js"></script>
	
    <script type='text/javascript' src="//cdn.bootcss.com/vue/2.3.4/vue.js"></script>
    <script type='text/javascript' src="__JS__/action.js"></script>
    <script type='text/javascript' src="__JS__/wxzip.js"></script>
    <!-- <script type='text/javascript' src="__JS__/wxshare.js"></script> -->
  </head>
  <body>
