@charset "UTF-8";
/**
 * 登录注册
 */
/**
 * 公用变量
 */
/*
盒子阴影
@right_left 右边阴影为正数 左边负数
@bottom_top 下边阴影为正数 上边负数
@box  阴影大小
@box_color 阴影颜色
*/
/*
文字阴影,可以指定多组阴影
@right_left1 右边阴影为正数 左边负数
@bottom_top1 下边阴影为正数 上边负数
@text  阴影大小
@text_color 阴影颜色
*/
.page-login {
  padding: 60px;
}
.page-login .login-box {
  width: 370px;
  min-height: 352px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
}
.page-login .login-box .login-way {
  cursor: pointer;
  padding: 30px 0 5px;
  margin-bottom: 40px;
}
.page-login .login-box .login-form {
  padding: 0 30px 20px;
}
.page-login .login-box .login-form .yzm {
  width: 193px;
}
.page-login .login-box .login-form .ruleForm .el-alert {
  top: -35px;
}
.page-login .login-box .login-form .other a {
  padding: 0 5px 0 2px;
}
.page-reg {
  padding: 60px 0;
  width: 500px;
  margin: 0 auto;
}
.page-reg .reg-form .yzm {
  width: 283px;
}
