@charset "UTF-8";
/**
 * 充值中心
 */
/**
 * 公用变量
 */
/*
盒子阴影
@right_left 右边阴影为正数 左边负数
@bottom_top 下边阴影为正数 上边负数
@box  阴影大小
@box_color 阴影颜色
*/
/*
文字阴影,可以指定多组阴影
@right_left1 右边阴影为正数 左边负数
@bottom_top1 下边阴影为正数 上边负数
@text  阴影大小
@text_color 阴影颜色
*/
.page-title {
  height: 60px;
  line-height: 60px;
  background-color: #f4f4f4;
}
.page-title span {
  display: inline-block;
  height: 58px;
  line-height: 58px;
  padding: 0 10px;
  border-bottom: 2px solid #f47d17;
  font-size: 16px;
  font-weight: bold;
}
.pay .pay-info {
  padding: 20px 30px;
  background: #fffaec;
  border: 1px solid #ffe9b3;
  border-bottom: none;
  font-size: 14px;
}
.pay .pay-info span {
  padding-right: 15px;
}
.pay .pay-cont-tabs .head {
  border-bottom: 1px solid #dddddd;
}
.pay .pay-cont-tabs .head ul > li {
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  padding: 0 20px;
  background-color: #f4f4f4;
  border: solid #dddddd;
  border-width: 0 1px 0px 0;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  font-family: arial;
  color: #666;
  cursor: pointer;
}
.pay .pay-cont-tabs .head ul > li.active {
  background-color: #ffffff;
  margin-bottom: -1px;
  color: #de3031;
}
.pay .pay-cont-tabs .cont {
  padding: 30px 80px;
}
.pay .pay-cont-tabs .cont .row {
  padding: 15px 0;
  align-items: flex-start;
}
.pay .pay-cont-tabs .cont .row label {
  padding-right: 10px;
}
.pay .pay-cont-tabs .cont .row .recharge-checkbox {
  font-size: 12px;
  color: #999999;
}
.pay .pay-cont-tabs .cont .row .recharge-checkbox label {
  padding-right: 2px;
}
.pay .pay-cont-tabs .cont .row .money-val {
  font-size: 22px;
}
.pay .pay-cont-tabs .cont .submit {
  margin-top: 20px;
}
.pay .pay-cont-tabs .cont .submit .el-button--primary {
  font-size: 16px;
}
.pay .pay-cont-tabs .cont .tip {
  border-top: 1px dashed #e1e1e1;
  margin-top: 50px;
  padding-top: 5px;
  font-size: 12px;
}
.rechage-list ul {
  overflow: hidden;
}
.rechage-list ul li {
  float: left;
  border: 1px solid #dcdfe6;
  width: 160px;
  text-align: center;
  margin: 0 20px 20px 0;
  line-height: 35px;
  cursor: pointer;
  font-size: 15px;
  color: #333333;
  padding: 0 5px;
  height: 100px;
  position: relative;
}
.rechage-list ul li .coin {
  border-bottom: 1px dashed #e0e0e0;
  padding: 10px 0 20px 0;
  font-size: 18px;
}
.rechage-list ul li .coin .award {
  color: #999999;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  width: 160px;
  left: 0;
  top: 44px;
}
.rechage-list ul li .coin img {
  margin-right: 5px;
}
.rechage-list ul li.active,
.rechage-list ul li:hover {
  border-color: #ff6c08;
}
.rechage-list ul li.error {
  border-color: red;
}
.rechage-list ul li i {
  width: 16px;
  height: 16px;
  background: url("/static/vipweb/images//button_gou.png") no-repeat center;
  position: absolute;
  right: 0px;
  bottom: 0;
}
.rechage-list ul li .recharge-tip {
  font-size: 11px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.other-rechage {
  display: inline;
}
.other-rechage input {
  width: 100px;
  padding: 0 5px;
}
.pay-sm {
  display: flex;
}
.pay-sm img {
  width: 180px;
  padding-right: 20px;
}
.pay-sm .rig-info {
  font-size: 14px;
}
.bank-list li {
  padding: 10px 15px;
  border: 1px solid #e9e9e9;
  background-color: #f9f9f9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  float: left;
  margin: 7px;
  line-height: 2.5;
  color: #333333;
  cursor: pointer;
  width: 40%;
}
.bank-list li.active {
  border-color: #ff6c08;
  background-color: #ffffff;
}
.bank-list li span.label {
  display: inline-block;
  width: 70px;
  text-align: right;
  color: #888888;
}
.bank-list li input {
  border: 1px solid #eeeeee;
  padding: 5px;
  height: 18px;
  line-height: 18px;
  box-sizing: content-box;
  background-color: #ffffff;
  width: 250px;
  outline: none;
}
.bank-pay-title {
  padding: 10px 0;
  font-size: 18px;
  color: #000000;
  margin: 5px 0;
}
.bank-pay-title em.tip-num {
  display: inline-block;
  width: 26px;
  height: 26px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 26px;
  text-align: center;
  background-color: #4CAF50;
  color: #ffffff;
  margin-right: 6px;
}
