{include file='web@common/game_head' title="打地鼠"/}
<link rel="stylesheet" href="/static/vipweb/css/game.css">

<div class="game-dishu">
    <div class="game-web-hp">
        <div class="game-iframe-hp" style="border: 5px solid #ffffff">
            <iframe src="{:url('../game/dishu')}" frameborder="0"  scrolling="no"></iframe>
        </div>
        <div class="mt15 help">
            <h3 style="color: #c8ffbc">游戏说明</h3>
            <div>
                <p style="color: #fff">1、玩家需注册账号方可参与该游戏；</p>
                <p style="color: #fff">2、玩家首先应选择每次打地鼠需要花费的金豆数，然后点击游戏中的地鼠；</p>
                <p style="color: #fff">3、能否打晕地鼠取决于地鼠的概率。</p>
            </div>
        </div>
    </div>
</div>
{include file='web@common/foot'/}