{include file='web@common/game_head' title="我要發"/}
<link rel="stylesheet" href="/static/vipweb/css/game.css">
<script src="/static/vipweb/js/game.js"></script>

<div class="game-fa">
    <div class="web web-flex">
        <div class="game-iframe-sp">
            <iframe src="{:url('../fa')}" frameborder="0"  scrolling="no"></iframe>
        </div>
        <div class="flex help">
            <img src="/am-game/fa/resource/assets/role.png" alt="" width="90%">
        </div>
    </div>
</div>
{include file='web@common/foot'/}