{include file='web@common/game_head' title="欢乐夹娃娃"/}
<link rel="stylesheet" href="/static/vipweb/css/game.css">
<script src="/static/vipweb/js/game.js"></script>

<div class="game-wa">
    <div class="web web-flex">
        <div class="game-iframe-sp">
            <iframe src="{:url('../zhuawawa')}" frameborder="0"  scrolling="no"></iframe>
        </div>
        <div class="flex help">
            <div class="ins">
                <h3>一、玩法说明</h3>
                <p>1.玩家需注册游戏账号方可参加该活动；</p>
                <p>2.玩家首先应选择每次夹娃娃需要花费的幸运豆数，然后点击“开始”便可伸出夹子去夹相应的奖品；</p>
                <p>3.能否夹起娃娃取决于玩家出手的时机，夹起娃娃后能否家中则取决于奖品的概率；</p>
            </div>
            <div class="ins">
                <h3>二、奖品说明</h3>
                <p>1.京东E卡、充值卡：可兑换等额幸运豆或相应卡密，卡密可到相应平台进行消费；</p>
                <p>2.实物奖品：获得实物奖品后请及时填写收货信息；若部分地区无法正常派发，我们将会及时通知用户，
                可退还价值等额的幸运都；实物奖品颜色随机派发；</p>
                <p>3.能否夹起娃娃取决于玩家出手的时机，夹起娃娃后能否家中则取决于奖品的概率；</p>
            </div>
        </div>
    </div>
</div>
{include file='web@common/foot'/}