{include file='common/head' /}
<link href="__STATIC__/bootstarp-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="__STATIC__/bootstarp-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__/bootstarp-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__STATIC__/js/reszieimg.js"></script>
<style>
    .box-padding-bottom{margin-left: 1rem;margin-top:10px}
    .b_bloder td {font-weight: 700}
</style>
<nav class="plugin_nav">
    <a class="nav_active">资金统计</a>
    <!--<a href="{:url('graphList')}">柱形统计图</a>-->
    <!--<a href="{:url('spAdGraph')}">消费中奖比</a>-->
    <!--<a href="{:url('extOfGraph')}">模块统计</a>-->
    <a href="{:url('getTodayList')}">今日数据统计</a>
  </nav>

<div class="box-padding">
    <div class="breadcrumb">
        <ol class="">
            <li class="active"><i class="glyphicon glyphicon-link"></i> 资金统计</li>
        </ol>
        <form class="form-inline" action="">
            <div class="form-group form-group-left">
                <label>时间</label>
                <div class='input-group date' id='begintime' data-date-format="yyyy-mm-dd">
                    <input type='text' class="form-control" name="starttime" value="{$query.starttime}" />
                    <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
                </div>
                <label>到</label>
                <div class='input-group date' id='endtime' data-date-format="yyyy-mm-dd">
                    <input type='text' class="form-control" name="endtime" value="{$query.endtime}" />
                    <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
                </div>
            </div>
            <div class="dropdown form-group">
                <label>用户类型:</label>
                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                        data-toggle="dropdown">
                    <span class="result">
                        {if condition = "$query.type eq ''"}
                        全部会员
                        {elseif condition = "$query.type eq 1" /}
                        普通会员
                        {else /}
                        代理会员
                        {/if}
                    </span>
                    <span class="caret"></span>
                </button>
                <input type="hidden" name="type" value="{$query.type}">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="text-align:right">
                    <li role="presentation" class="choice">
                        <a role="menuitem" data-value =''>全部会员</a>
                    </li>
                    <li role="presentation" class="choice">
                        <a role="menuitem"  data-value = 1>普通会员</a>
                    </li>
                    <li role="presentation" class="choice">
                        <a role="menuitem" data-value = 2>代理会员</a>
                    </li>
                </ul>
            </div>
            <div class="form-group form-group-left">
                <label>用户名:</label>
                <input type="text" name="words" class="form-control" value="{$query.words}" placeholder="用户名">
            </div>
            <!--<div class="dropdown form-group">-->
                <!--<label>排序:</label>-->
                <!--<button type="button" class="btn dropdown-toggle" id="dropdownMenu1"-->
                        <!--data-toggle="dropdown">-->
                    <!--<span class="resultsort">-->
                        <!--{$query.sortname}-->
                    <!--</span>-->
                    <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<input type="hidden" name="sort" value="{$query.sort}">-->
                <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="text-align:right">-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem" data-value =''>默认排序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '0_0'>消费升序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '0_1'>消费降序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '1_0'>中奖升序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '1_1'>中奖降序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '2_0'>充值升序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '2_1'>充值降序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '3_0'>兑换升序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '3_1'>兑换降序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '4_0'>赠送升序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '4_1'>赠送降序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '5_0'>盈利升序</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" class="choicesort">-->
                        <!--<a role="menuitem"  data-value = '5_1'>盈利降序</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <button type="submit" class="btn btn-default form-group-left btn-sm">搜索</button>
            <button type="button" data-url="{:Url('statisticsExportExcel')}" class="btn btn-default form-group-left btn-sm excel_btn">导出Excel</button>
        </form>
        <div class="clear"></div>
    </div>
    <div class="content tasklist table_box">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th width="200">用户昵称（用户名）</span></th>
                <th width="100">会员类型</th>
                <th>余额</th>
                <th>投注</th>
                <th>中奖</th>
                <th>游戏币转出</th>
                <th>游戏币转入</th>
                <th>充值</th>
                <th>兑换</th>
                <th>活动</th>
                <th>提成</th>
                <th>返点</th>
                <th>盈利</th>
            </tr>
            </thead>
            <tbody>
                {volist name = "list" id = "item"}
                <tr>
                    <td><a title="查看资金明细" href="{:url('user/moneyhistory')}?words={$item.nickname}">{$item.nickname}（{$item.username}）</a></span></td>
                    <td>{$item.type_name}</td>
                    <td>{$item.money ?? 0}</td>
                    <td>{$item.spend ?? 0}</td>
                    <td>{$item.award ?? 0}</td>
                    <td>{$item.game_out ?? 0}</td>
                    <td>{$item.game_in ?? 0}</td>
                    <td>{$item.recharge ?? 0}</td>
                    <td>{$item.change ?? 0}</td>
                    <td>{$item.send ?? 0}</td>
                    <td>{$item.royalty ?? 0}</td>
                    <td>{$item.rebate ?? 0}</td>
                    <td>{$item.gain ?? 0}</td>
                </tr>
                {/volist}
                <tr class="b_bloder">
                  <td colspan="2">当前页总计</td>
                  <td>{$sum_page.money ?? 0}</td>
                  <td>{$sum_page.spend ?? 0}</td>
                  <td>{$sum_page.award ?? 0}</td>
                    <td>{$sum_page.game_out ?? 0}</td>
                    <td>{$sum_page.game_in ?? 0}</td>
                  <td>{$sum_page.recharge ?? 0}</td>
                  <td>{$sum_page.change ?? 0}</td>
                  <td>{$sum_page.send ?? 0}</td>
                  <td>{$sum_page.royalty ?? 0}</td>
                  <td>{$sum_page.rebate ?? 0}</td>
                  <td>{$sum_page.gain ?? 0}</td>
               </tr>
               <tr class="b_bloder">
                 <td colspan="2">总计</td>
                 <td>{$sum_data.money ?? 0}</td>
                 <td>{$sum_data.spend ?? 0}</td>
                 <td>{$sum_data.award ?? 0}</td>
                 <td>{$sum_data.game_out ?? 0}</td>
                 <td>{$sum_data.game_in ?? 0}</td>
                 <td>{$sum_data.recharge ?? 0}</td>
                 <td>{$sum_data.change ?? 0}</td>
                 <td>{$sum_data.send ?? 0}</td>
                 <td>{$sum_data.royalty ?? 0}</td>
                 <td>{$sum_data.rebate ?? 0}</td>
                 <td>{$sum_data.gain ?? 0}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right">{$list->render()}</div>

</div>

<script>
  $(function () {
    $('.excel_btn').click(function() {
      var url = $(this).data("url");
      var param="";
      var t = $('form').serializeArray();
      $.each(t, function(i) {
          if (i==0) {
              param = this.name+"="+this.value;
          } else {
              param += "&"+this.name+"="+this.value;
          }

      });
      window.open(url+"?"+param);
    });
    $('#begintime,#endtime').datetimepicker({
      language: 'zh-CN',
      weekStart: 1,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
			endDate : new Date(),
      minView: 2,
      forceParse: 0
    });
    $('#begintime').on('changeDate',function(e){  
        var startTime = e.date;  
        $('#endtime').datetimepicker('setStartDate',startTime);  
    });
    $('#endtime').on('changeDate',function(e){  
        var startTime = e.date;  
        $('#begintime').datetimepicker('setStartDate',startTime);  
    });

    $(".choice").click(function(){
        var _this = $(this).find('a');
        $(".result").text(_this.text());
        $("input[name=type]").val(_this.data('value'))
    })
    
    $(".choicesort").click(function(){
        var _this = $(this).find('a');
        $(".resultsort").text(_this.text());
        $("input[name=sort]").val(_this.data('value'))
    })
  })
</script>
{include file='common/foot' /}