@charset "UTF-8";
/**
 * 公用变量
 */
.icon {
  width: 22px;
  height: 22px;
  vertical-align: -3px;
  fill: currentColor;
  overflow: hidden;
}
.wow {
  animation-delay: 0s;
  animation-duration: 1s;
}
.btn {
  text-align: center;
}
.btn a {
  display: inline-block;
  width: 184px;
  height: 48px;
  text-align: center;
  color: #ffffff;
  background: #4393f7;
  line-height: 48px;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn a:hover {
  background: #5ba1f8;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}
.t-height {
  height: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header {
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid #eee;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .logo {
  padding-top: 24px;
  text-align: center;
}
.header .navigation {
  position: relative;
}
.header .navigation ul.navig {
  height: 100px;
}
.header .navigation ul.navig li {
  height: 100px;
  line-height: 100px;
  float: left;
}
.header .navigation ul.navig li a {
  font-size: 16px;
  padding: 0 20px;
  margin: 0 3px;
  display: inline-block;
}
.header .navigation ul.navig li a i {
  font-size: 18px;
}
.header .navigation ul.navig li.active a {
  color: #4393f7;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.header .navigation ul.navig li.active a i {
  font-weight: normal;
}
.header .navigation ul.navig li.active a:hover {
  color: #4393f7;
}
.header .navigation ul.navig li:hover a {
  color: #4393f7;
}
.header .navigation ul.navig li.link_to_game {
  margin-left: 20px;
}
.header .navigation ul.navig li.link_to_game a {
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: #ffffff;
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
}
.foot_show {
  padding: 30px 0;
  color: #333333;
  background-color: #f9f9f9;
}
.foot_show ul > li {
  float: left;
  width: 20%;
  line-height: 1.3;
}
.foot_show ul > li i {
  font-size: 36px;
  color: #909090;
  margin-right: 10px;
}
.foot_show ul > li .show_text {
  line-height: 1.5;
}
.footer {
  background: #393c41;
}
.footer .foot_nav {
  padding: 70px 0 30px;
  color: #c6c7c9;
}
.footer .foot_nav .foot_nav_1 {
  width: 450px;
  margin-right: 70px;
}
.footer .foot_nav .foot_nav_1 .copyright {
  text-align: left;
}
.footer .foot_nav .foot_nav_1 .copyright a {
  color: #929497;
  font-size: 14px;
}
.footer .foot_nav .foot_nav_1 .copyright a:hover {
  color: #fff;
}
.footer .foot_nav .foot_nav_1 .copyright .icon_safe5 {
  background: url("/static/home/images/icons_01.png") no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
}
.footer .foot_nav .foot_nav_1 .copyright .icon_safe7 {
  background: url("/static/home/images/icons_04.png") no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
}
.footer .foot_nav .foot_nav_2 {
  width: 440px;
  border-left: 1px solid #404348;
  border-right: 1px solid #404348;
  padding: 0 70px;
  margin-right: 70px;
}
.footer .foot_nav .foot_nav_2 .company_tel {
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
.footer .foot_nav .foot_nav_2 .company_tel i {
  font-size: 30px;
  margin-right: 10px;
  color: #ffffff;
  font-weight: normal;
}
.footer .foot_nav .foot_nav_2 .company i {
  display: inline-block;
  width: 22px;
  text-align: center;
  margin-right: 5px;
  font-size: 17px;
  color: #888888;
}
.footer .bottom_toolbar .safety {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #404348;
  text-align: center;
}
.footer .bottom_toolbar .safety a {
  display: inline-block;
  padding: 0 25px;
  color: #767676;
}
.footer .bottom_toolbar .safety a:hover {
  color: #fff;
}
.footer .bottom_toolbar .safety i {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url("/static/home/images/icons_foot.png") no-repeat;
  margin-right: 1em;
  margin-bottom: 2px;
}
.footer .bottom_toolbar .safety .icon_safe1 {
  background-position: 0 0px;
}
.footer .bottom_toolbar .safety .icon_safe2 {
  background-position: -30px 0px;
}
.footer .bottom_toolbar .safety .icon_safe3 {
  background-position: -60px 0px;
}
.footer .bottom_toolbar .safety .icon_safe4 {
  background: url("/static/home/images/icons_02.png") no-repeat center;
}
.footer .bottom_toolbar .safety .icon_safe6 {
  background: url("/static/home/images/icons_03.jpg") no-repeat center;
  width: 62px;
}
.footer .bottom_toolbar .bottom_logo {
  width: 100%;
  height: 70px;
  overflow: hidden;
}
.footer .bottom_toolbar .tips {
  text-align: center;
  margin: 10px 0;
}
.footer .block {
  display: block;
  font-size: 13px;
}
.footer .toolbar-item .toolbar-layer {
  background: url("/static/home/images/toolbar.png") no-repeat;
  color: #333;
}
.toolbar {
  position: fixed;
  z-index: 1001;
  bottom: 100px;
  right: 0;
  width: 50px;
}
.toolbar a {
  display: block;
  background-color: #50565f;
  color: #ffffff;
  text-align: center;
  height: 60px;
  line-height: 50px;
  position: relative;
  border-bottom: 1px solid #60656b;
}
.toolbar a:last-child {
  border-bottom: none;
}
.toolbar a i {
  font-size: 18px;
}
.toolbar a .tit {
  line-height: 20px;
  padding-top: 10px;
}
.toolbar a.tool_li .cont {
  position: absolute;
  right: -200px;
  top: 0;
  width: 200px;
  background-color: #4393f7;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  text-align: left;
  padding: 20px 20px 0;
}
.toolbar a.tool_li .cont .name {
  font-size: 14px;
  color: #bdd9fc;
}
.toolbar a.tool_li .cont .n_c {
  font-size: 18px;
}
.toolbar a.tool_li.active {
  background-color: #4393f7;
}
.toolbar a.tool_li .foot_tel {
  top: -61px;
  line-height: 1;
}
.toolbar a.tool_li .foot_tel .name {
  font-size: 14px;
  color: #bdd9fc;
}
.toolbar a.tool_li .foot_tel .n_c {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #74aff9;
}
.toolbar a.tool_li .foot_qq {
  padding: 0 0 0 20px;
  line-height: 60px;
  height: 60px;
}
.toolbar a.tool_li .foot_wx {
  top: -115px;
}
.toolbar a.tool_top {
  overflow: hidden;
}
.toolbar a.tool_top .cont {
  position: absolute;
  width: 50px;
  height: 60px;
  line-height: 1.6;
  font-size: 13px;
  top: 60px;
  left: 0;
  color: #ffffff;
  background-color: #4393f7;
  padding-top: 10px;
}
.toolbar a.toTop {
  height: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*向上*/
.triangle_border_up {
  width: 0;
  height: 0;
  border-width: 0 14px 14px;
  border-style: solid;
  border-color: transparent transparent #333;
  /*透明 透明  灰*/
  position: relative;
  margin: 0px auto;
}
.triangle_border_up span {
  display: block;
  width: 0;
  height: 0;
  border-width: 0 12px 12px;
  border-style: solid;
  border-color: transparent transparent #ffffff;
  /*透明 透明*/
  position: absolute;
  top: 2px;
  left: -12px;
}
.banner {
  position: relative;
  height: 470px;
}
.banner .shadow {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 10px;
  left: 0;
  background: url("/static/home/images/header_shadow.png") repeat-x;
  z-index: 110;
}
.banner .swiper-container {
  height: 100%;
}
.banner .swiper-container a {
  width: 100%;
  display: inline-block;
  height: 470px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner .swiper-button-next,
.banner .swiper-button-prev {
  top: 273px;
  width: 36px;
  height: 74px;
  opacity: .6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.banner .swiper-button-next:hover,
.banner .swiper-button-prev:hover {
  opacity: 1;
}
.banner .swiper-button-next {
  background: url("/static/home/images/next_i.png") no-repeat center rgba(0, 0, 0, 0.46);
  right: 0;
}
.banner .swiper-button-prev {
  background: url("/static/home/images/prev_i.png") no-repeat center rgba(0, 0, 0, 0.46);
  left: 0;
}
.banner .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.banner .swiper-pagination-bullet-active {
  width: 30px;
  background-color: #ff6f20;
  border-radius: 15px;
}
.index_pt01 .index_fast {
  font-size: 28px;
  padding-bottom: 8px;
  line-height: 2.2;
}
.index_pt01 .index_fast .fast_l {
  width: 42%;
  position: relative;
}
.index_pt01 .index_fast .fast_l:after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 85px;
  bottom: 0;
  right: 0;
}
.index_pt01 .index_fast .fast_r {
  width: 42%;
  position: relative;
}
.index_pt01 .index_fast .fast_r:after {
  position: absolute;
  content: "";
  background-color: #eeeeee;
  background: linear-gradient(to right, #cccccc 0%, #e0e0e0 100%);
  height: 4px;
  width: 85px;
  bottom: 0;
  left: 0;
}
.index_pt01 .index_fast .fast_m {
  width: 16%;
  line-height: 1;
}
.index_pt01 .index_fast .fast_m i {
  font-size: 56px;
}
.index_pt01 .index_prointrob {
  margin: 40px 0 90px 0;
  padding: 20px;
  box-shadow: 0px 0px 10px 5px #f1f1f1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.index_pt01 .index_prointrob .prointrob_l,
.index_pt01 .index_prointrob .prointrob_r {
  width: 42%;
}
.index_pt01 .index_prointrob .prointrob_m {
  width: 16%;
}
.index_pt01 .index_prointrob .prointrob_m i {
  font-size: 34px;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  line-height: 60px;
  color: #4393f7;
  border: 1px solid #eeeeee;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.index_pt01 .index_prointrob ul > li {
  height: 80px;
  margin-bottom: 40px;
}
.index_pt01 .index_prointrob ul > li:last-child {
  margin-bottom: 0;
}
.index_pt01 .index_prointrob ul > li .titlebox {
  color: #484848;
  font-size: 18px;
  line-height: 30px;
}
.index_pt01 .index_prointrob ul > li .introbox {
  color: #929292;
  height: 50px;
  line-height: 25px;
}
.index_pt02 .index_product {
  margin-bottom: 80px;
}
.index_pt02 .index_product ul > li {
  width: 23%;
  float: left;
  margin-right: 2.6%;
  height: 290px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 40px 20px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index_pt02 .index_product ul > li:last-child {
  margin-right: 0;
}
.index_pt02 .index_product ul > li.active {
  background-color: #4393f7;
}
.index_pt02 .index_product ul > li.active .product-icon i {
  color: #4393f7;
  background: #ffffff;
}
.index_pt02 .index_product ul > li.active .product-name {
  color: #ffffff;
}
.index_pt02 .index_product ul > li.active .product-info {
  color: #ffffff;
}
.index_pt02 .index_product ul > li .product-icon {
  margin: 0px 0 10px;
  height: 70px;
  line-height: 70px;
}
.index_pt02 .index_product ul > li .product-icon .icon {
  width: 60px;
  height: 60px;
  box-shadow: 0px 5px 10px #e0e0e0;
  border-radius: 50%;
}
.index_pt02 .index_product ul > li .product-icon i {
  font-size: 40px;
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index_pt02 .index_product ul > li .product-name {
  margin-bottom: 10px;
  color: #464646;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index_pt02 .index_product ul > li .product-info {
  line-height: 30px;
  color: #6e6e6e;
  font-size: 13px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index_pt03 .index_recgame ul > li {
  width: 277px;
  height: 228px;
  float: left;
  cursor: pointer;
  margin: 0px 30px 28px 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index_pt03 .index_recgame ul > li:nth-child(4n) {
  margin-right: 0;
}
.index_pt03 .index_recgame ul > li.active .info {
  background-color: #4393f7;
}
.index_pt03 .index_recgame ul > li.active .info .title,
.index_pt03 .index_recgame ul > li.active .info .remark {
  color: #ffffff;
}
.index_pt03 .index_recgame ul > li img.scale {
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index_pt03 .index_recgame ul > li img.normal {
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index_pt03 .index_recgame ul > li .image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.index_pt03 .index_recgame ul > li .layout {
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  left: 0;
  top: 0;
}
.index_pt03 .index_recgame ul > li .info {
  padding: 15px;
  position: absolute;
  width: 100%;
  height: 78px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index_pt03 .index_recgame ul > li .info .title {
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  margin-bottom: 5px;
  color: #313131;
}
.index_pt03 .index_recgame ul > li .info .remark {
  font-size: 14px;
  color: #8e8e8e;
  height: 25px;
  line-height: 25px;
}
.index_pt03 .index_recgame ul > li .info .btn-box {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index_pt03 .index_recgame ul > li .info .btn-play {
  background-color: #ffffff;
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;
  height: 22px;
  line-height: 22px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #333333;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index_pt03 .index_recgame ul > li .info .btn-play:hover {
  background-color: #e62232;
  color: #ffffff;
}
.index_pt03 .index_recgame ul > li .info .btn-play:hover i {
  color: #ffffff;
}
.index_pt03 .index_recgame ul > li .info .btn-play i {
  font-size: 14px;
}
.index_pt03 .btn {
  margin: 38px auto 57px;
}
.index_pt04 {
  padding-bottom: 40px;
}
.index_pt04 .index_support ul > li {
  width: 31%;
  margin: 20px 3.5% 40px 0;
  float: left;
}
.index_pt04 .index_support ul > li:nth-child(3n) {
  margin-right: 0;
}
.index_pt04 .index_support ul > li.active .support-icon i {
  color: #4393f7;
}
.index_pt04 .index_support ul > li.active .support-info .support-title {
  color: #4393f7;
}
.index_pt04 .index_support ul > li .support-icon {
  width: 55px;
  line-height: 1;
}
.index_pt04 .index_support ul > li .support-icon i {
  font-size: 32px;
  color: #888888;
}
.index_pt04 .index_support ul > li .support-info {
  width: 310px;
}
.index_pt04 .index_support ul > li .support-info .support-title {
  font-size: 20px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
  margin-bottom: 10px;
}
.index_pt04 .index_support ul > li .support-info .support-sumary {
  color: #a3a3a3;
  font-size: 14px;
  line-height: 25px;
}
.index_pt05 .index_news,
.index_pt05 .index_notice {
  width: 575px;
  height: 560px;
  border: 1px solid #eeeeee;
  margin: 20px 0 70px;
}
.index_pt05 .news-title {
  height: 130px;
  background: url("/static/home/images/bg-1.jpg") no-repeat right top;
  background-size: cover;
}
.index_pt05 .news-title span {
  display: inline-block;
  width: 130px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background-color: #4393f7;
  color: #ffffff;
  font-size: 20px;
}
.index_pt05 .index_notice .news-title {
  background: url("/static/home/images/bg-3.jpg") no-repeat top left;
}
.index_pt05 .news-list {
  padding: 20px 20px;
}
.index_pt05 .news-list ul {
  height: 315px;
  margin-bottom: 30px;
}
.index_pt05 .news-list ul li a {
  font-size: 16px;
  padding: 5px 0;
  display: inline-block;
  line-height: 30px;
  width: 100%;
  background: url('/static/home/images/dian.png') no-repeat left center;
  padding-left: 20px;
  box-sizing: border-box;
}
.index_pt05 .news-list ul li a span {
  color: #999999;
}
.index_pt05 .news-list ul li a:hover {
  color: #4393f7;
  text-decoration: underline;
}
.index_pt05 .news-list ul li:first-child {
  border-bottom: 1px dashed #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.index_pt05 .news-list ul li:first-child a {
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
  background: none;
  padding-left: 0px;
}
.index_pt05 .news-list ul li:first-child a:hover {
  color: #4393f7;
  text-decoration: none;
}
.index_pt05 .news-list ul li:first-child p {
  line-height: 1.7;
}
.list-tit {
  height: 200px;
  background: url("/static/home/images/top_bg.jpg") no-repeat bottom center;
  color: #ffffff;
  padding-top: 140px;
}
.list-tit h1 {
  text-shadow: 0 0 5px #24528c;
  display: inline-block;
}
.list-tit span {
  font-size: 16px;
}
.news-list .location {
  padding: 10px 20px 0;
  font-size: 15px;
}
.news-list .location a {
  font-size: 15px;
  color: #333333;
}
.news-list .list-item {
  display: block;
  padding: 30px 40px;
  border-bottom: 1px dashed #eeeeee;
  font-size: 16px;
}
.news-list .list-item-image {
  margin-right: 15px;
  width: 20%;
  height: 135px;
  background-size: cover;
}
.news-list .list-item-text .title {
  font-weight: bold;
  font-size: 22px;
  color: #5C5C5C;
}
.news-list .list-item-text .memo {
  font-size: 15px;
  line-height: 1.8;
  color: #adadad;
  margin-bottom: 10px;
}
.news-list .list-item-time {
  width: 12%;
}
.news-list .list-item-time span {
  width: 55px;
  height: 70px;
  border: #E9E9E9 solid 1px;
  background: #FFF;
  float: right;
  font-size: 13px;
  line-height: 18px;
  color: #666;
  margin-top: 15px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.news-list .list-item-time span em {
  height: 35px;
  font-size: 22px;
  line-height: 35px;
  background: #e62232;
  display: inline-block;
  color: #FFF;
  font-style: normal;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px 5px 0 0;
}
.news-list .active .title {
  color: #e62232;
}
.page ul {
  overflow: hidden;
  text-align: center;
  padding: 30px 40px;
}
.page ul li {
  float: left;
  padding: 3px 15px;
  background-color: #eeeeee;
  color: #333333;
  cursor: pointer;
  margin: 0 2px;
}
.page ul li:hover {
  color: #4393f7;
}
.page ul li.active {
  background-color: #4393f7;
  color: #ffffff;
}
.page ul li.disabled {
  cursor: not-allowed;
  color: #888888;
}
.page ul li:first-child {
  margin-left: 0;
}
.page ul li.page_total {
  display: none;
  background: none;
  color: #666666;
  float: right;
  border: none;
}
.page ul li.page_total input {
  width: 30px;
  margin: 0 2px;
  border: 1px solid #dddddd;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.page ul li.page_total button {
  background: none;
  border: 1px solid #dddddd;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  font-size: 12px;
  cursor: pointer;
}
.page ul li.page_total button:hover {
  background-color: #f9f9f9;
}
.c-title {
  margin-top: 85px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #000;
}
.c-sub-title {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 55px;
  color: #74777c;
}
/**
 * 产品
 */
.game-list {
  margin: 15px auto;
}
.game-list ul {
  overflow: hidden;
}
.game-list ul li {
  width: 279px;
  float: left;
  cursor: pointer;
  margin: 14px 28px 14px 0;
  position: relative;
  overflow: hidden;
}
.game-list ul li:nth-child(4n) {
  margin-right: 0;
}
.game-list ul li .image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.game-list ul li .info {
  padding: 10px 10px 0;
}
.game-list ul li .info h4 {
  align-items: center;
}
.game-list ul li .info .btn-box {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 10px;
  right: 0px;
  padding-right: 10px;
}
.game-list ul li .info .btn-play {
  border: 1px solid #dedede;
  display: inline-block;
  padding: 3px 10px;
  height: 22px;
  line-height: 22px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
  color: #656565;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.game-list ul li .info .btn-play:hover {
  background-color: #e62232;
  color: #ffffff;
  border: 1px solid #e62232;
}
.game-list ul li .info .btn-play:hover i {
  color: #ffffff;
}
.game-list ul li .info .btn-play i {
  font-size: 14px;
}
.rec-game h3 {
  border-bottom: 1px solid #e4e4e4;
}
.rec-game ul {
  border-top: 1px solid #ffffff;
}
.rec-game ul li {
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(61, 93, 212, 0.3);
}
.rec-game ul li .info {
  line-height: 2;
  font-size: 16px;
}
.rec-game ul li .info p {
  height: auto;
}
.rec-game ul li .type {
  color: #c6bfa9;
}
.rec-game ul li .show-primary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding-top: 10px;
  background-color: rgba(51, 51, 51, 0.85);
  color: #ffffff;
  overflow: hidden;
  transition: all .2s;
}
.swiper-ads {
  height: 150px;
  position: relative;
}
.swiper-ads a {
  width: 100%;
  display: inline-block;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-ads .swiper-pagination-bullets {
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 5;
  text-align: center;
  bottom: 0;
}
.all-game ul > li {
  margin: 14px 22.5px 14px 0;
  position: relative;
  border: 1px solid #eeeeee;
}
.all-game ul > li.active {
  box-shadow: 0 0 8px #bababa;
}
.all-game ul > li img.scale {
  transform: scale(1.08);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.all-game ul > li img.normal {
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.all-game ul > li .info {
  width: 100%;
  height: 140px;
}
.all-game ul > li .info p {
  line-height: 1.9;
}
.all-game ul > li .info p.title {
  font-size: 15px;
}
/**
 * 产品 end
 */
.buy-page .tabs-c .tab-tit {
  margin: 50px 0 0px;
  border-bottom: 1px solid #eeeeee;
  height: 45px;
  line-height: 45px;
}
.buy-page .tabs-c .tab-tit ul {
  width: 342px;
  margin: 0 auto;
  overflow: hidden;
}
.buy-page .tabs-c .tab-tit ul li {
  float: left;
  margin: 0 25px;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}
.buy-page .tabs-c .tab-tit ul li.active {
  color: #4393f7;
  border-bottom: 2px solid #4393f7;
  font-weight: bold;
}
.buy-page .tabs-c .tab-tit ul li:hover {
  color: #4393f7;
}
.buy-page .tabs-c .tab-cont .cont {
  padding: 50px 0;
}
.buy-page .buy-item-grounp {
  width: 360px;
  float: left;
}
.buy-page .buy-item {
  width: 100%;
  height: 470px;
  border: 1px solid #eeeeee;
  padding: 30px 26px 0;
}
.buy-page .buy-item .title {
  font-size: 36px;
  color: #333333;
}
.buy-page .buy-item .info {
  font-size: 16px;
  line-height: 1.7;
}
.buy-page .buy-item .mt {
  margin-top: 25px;
}
.buy-page .buy-item .item-info {
  font-size: 17px;
  border-bottom: 1px dashed #eeeeee;
  height: 44px;
  line-height: 44px;
  padding: 15px 0 5px;
  box-sizing: content-box;
}
.buy-page .buy-item .item-info .name {
  float: left;
  color: #888888;
}
.buy-page .buy-item .item-info .num {
  float: right;
  font-size: 22px;
  color: #e62232;
}
.buy-page .buy-item .item-server {
  font-size: 15px;
  height: 34px;
  line-height: 34px;
  box-sizing: content-box;
  color: #888888;
}
.buy-page .buy-item .item-server .name {
  float: left;
  color: #888888;
}
.buy-page .buy-item .item-server .num {
  float: right;
  color: #000000;
}
.buy-page .buy-item .btn-link {
  margin-top: 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.buy-page .buy-item .btn-link a {
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  padding: 5px 0;
  width: 100%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.buy-page .gn-list h5 {
  margin: 10px 0 0;
}
.buy-page .gn-list .grounp .client {
  font-size: 13px;
  color: #90949e;
  margin: 20px 0 5px 0;
}
.buy-page .gn-list .grounp .list ul > li {
  font-size: 17px;
  font-family: '黑体';
  line-height: 2.2;
}
.buy-page .type-1 .buy-1 {
  border-top: 10px solid #ff7575;
}
.buy-page .type-1 .buy-1 .btn-link {
  background-color: #ff7575;
}
.buy-page .type-1 .buy-1 .btn-link a:hover {
  background-color: #ff5b5b;
}
.buy-page .type-1 .list ul > li i {
  color: #ff7575;
}
.buy-page .type-2 .buy-2 {
  border-top: 10px solid #13bf78;
}
.buy-page .type-2 .buy-2 .btn-link {
  background-color: #13bf78;
}
.buy-page .type-2 .buy-2 .btn-link a:hover {
  background-color: #11a869;
}
.buy-page .type-2 .list ul > li i {
  color: #13bf78;
}
.buy-page .type-3 .buy-3 {
  border-top: 10px solid #3ba7e5;
}
.buy-page .type-3 .buy-3 .btn-link {
  background-color: #3ba7e5;
}
.buy-page .type-3 .buy-3 .btn-link a:hover {
  background-color: #249de2;
}
.buy-page .type-3 .list ul > li i {
  color: #3ba7e5;
}
.buy-page .sq-sm p {
  padding: 5px 0;
  font-size: 15px;
  color: #666666;
  text-indent: 2em;
}
.table-list {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}
.table-list td {
  padding: 12px;
  line-height: 22px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #e5e5e5;
}
.table-list td.h24 {
  height: 70px;
  font-size: 16px;
  background: #f9f9f9;
  font-weight: bold;
}
.table-list td.wct {
  text-align: left;
}
.table-list td.wt {
  background: #f9f9f9;
}
.about-page .about_introduce p {
  font-size: 15px;
  line-height: 26px;
  text-indent: 2em;
  padding: 10px 0;
}
.about-page .about_history .bg-round {
  display: inline-block;
  border: 1px solid #dedede;
  border-radius: 50%;
  padding: 2px;
}
.about-page .about_history .bg-round span {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 20px;
  padding: 15px 0;
  text-align: center;
  box-sizing: border-box;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-color: #e62232;
  color: #ffffff;
}
.about-page .about_history .bg-round span b {
  font-size: 16px;
}
.about-page .about_history .course-box {
  margin-left: 33px;
  border-left: 1px solid #eeeeee;
  position: relative;
  padding-top: 20px;
}
.about-page .about_history .course-box:last-child {
  padding-bottom: 40px;
}
.about-page .about_history .course-box .months {
  position: absolute;
  left: -16px;
  top: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
  border: 1px solid #e62232;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}
.about-page .about_history .course-box .content {
  padding-left: 40px;
  font-size: 15px;
  line-height: 30px;
}
.about-page .about_idea .kh {
  font-size: 16px;
  line-height: 3;
}
.about-page .about_idea .kh b {
  display: inline-block;
  width: 100px;
}
.about-page .about_honor {
  padding: 50px 0;
}
.about-page .about_honor ul > li {
  box-sizing: border-box;
  float: left;
  display: inline;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #e6e6e6;
  margin: 20px 20px 0 0;
  width: 23.5%;
  text-align: center;
  background-color: #f9f9f9;
}
.about-page .about_honor ul > li:hover {
  background-color: #ffffff;
}
.about-page .about_honor ul > li img {
  width: auto;
  height: 300px;
}
.about-page .about_careers {
  margin-bottom: 50px;
}
.line-title {
  padding: 15px 0;
  text-align: center;
  position: relative;
  margin: 50px 0;
  font-weight: 800;
  font-size: 30px;
  color: #333;
}
.line-title:after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 50px;
  bottom: 0;
  margin-left: -25px;
  left: 50%;
}
.detail .product_box {
  margin: 0px auto 0;
}
.detail .product_box .detail_nav {
  width: 170px;
}
.detail .product_box .detail_nav .nav_title {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin-top: 30px;
  position: relative;
  padding-right: 20px;
  font-weight: bold;
  color: #4393f7;
  margin-bottom: 20px;
}
.detail .product_box .detail_nav .nav_title i {
  font-size: 22px;
  font-weight: normal;
}
.detail .product_box .detail_nav .nav_title:after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 50px;
  bottom: 0;
  right: 20px;
}
.detail .product_box .detail_nav .nav_list .level1 li {
  text-align: right;
}
.detail .product_box .detail_nav .nav_list .level1 li a.inactive {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  padding-right: 35px;
  cursor: pointer;
  position: relative;
  background-color: #4393f7;
  width: 135px;
  color: #ffffff;
  border-bottom: 1px solid #1077f9;
  border-top: 1px solid #67a9fd;
}
.detail .product_box .detail_nav .nav_list .level1 li a.inactive i {
  position: absolute;
  right: 15px;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.detail .product_box .detail_nav .nav_list .level1 li a.inactive i.active {
  transform: rotate(0deg);
}
.detail .product_box .detail_nav .nav_list .level1 li a.inactive i.close {
  transform: rotate(-90deg);
}
.detail .product_box .detail_nav .nav_list .level1 li a.inactive:hover {
  background-color: #1277f5;
}
.detail .product_box .detail_nav .nav_list .level1 li a.inactives {
  background-color: #1277f5;
}
.detail .product_box .detail_nav .nav_list .level1 .level2 {
  padding-right: 20px;
}
.detail .product_box .detail_nav .nav_list .level1 .level2 li > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.detail .product_box .detail_nav .nav_list .level1 .level2 li > a.active {
  color: #4393f7;
  font-weight: bold;
}
.detail .product_box .detail_cont {
  border-left: 1px solid #e6e6e6;
  background-color: #f7f7f7;
  padding: 50px;
  min-height: 400px;
}
.detail .product_box .detail_cont .title {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 35px;
}
.detail .product_box .detail_cont .content {
  font-size: 14px;
}
.detail .product_box .detail_cont .content img {
  text-align: center;
  max-width: 100%;
  height: auto;
}
.detail .product_box .detail_cont .content p {
  padding: 5px 0;
  line-height: 24px;
}
.contact-cont .wei-sao {
  position: relative;
}
.contact-cont .a-btn {
  padding: 4px 6px;
  background-color: #ff6f20;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
}
.contact-cont .a-btn:hover {
  background-color: #ff7f3a;
}
.contact-cont .contact_l {
  width: 48%;
  float: left;
  text-align: left;
  padding: 30px 70px;
  margin: 0 4% 50px 0;
  background-color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 176px;
}
.contact-cont .contact_l h3 {
  line-height: 1.5;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}
.contact-cont .contact_l:nth-child(2n) {
  margin-right: 0;
}
.contact-cont .contact_l .i-icon {
  margin-right: 15px;
}
.contact-cont .contact_l .conts {
  width: 360px;
}
.contact-cont .contact_l .conts .tel > li {
  float: left;
  width: 50%;
}
.contact-cont .contact_l i {
  box-sizing: border-box;
  display: inline-block;
  font-size: 22px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.view-detail {
  padding: 10px 40px 30px;
}
.view-detail .d_title {
  line-height: 40px;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  padding: 30px 0px 10px 10px;
}
.view-detail .d_time {
  margin-bottom: 30px;
}
.view-detail .d_content {
  font-size: 15px;
  line-height: 26px;
}
.view-detail .d_content img {
  max-width: 100%;
}
.top-banner {
  height: 320px;
  position: relative;
  color: #ffffff;
}
.top-banner:after {
  position: absolute;
  content: "";
  height: 320px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.top-banner .banner-detail {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  z-index: 100;
  padding-top: 80px;
}
.top-banner .banner-detail .b_title {
  font-size: 34px;
  padding-bottom: 10px;
}
.top-banner .banner-detail .b_info {
  font-size: 16px;
  color: #d6d6d6;
}
.product-banner {
  background: url("/static/home/images/bg-1.jpg") no-repeat center;
  background-size: cover;
}
.buy-banner {
  background: url("/static/home/images/bg-2.jpg") no-repeat center;
  background-size: cover;
}
.about-banner {
  background: url("/static/home/images/bg-4.jpg") no-repeat center;
  background-size: cover;
}
