{include file='common/head' /}
<style>
    .version_list li {
        line-height:20px;
        padding:5px 0;
    }
</style>
<script src="__STATIC__/js/reszieimg.js"></script>
<ol class="breadcrumb">
    <li class="active"><i class="glyphicon glyphicon-sort-by-attributes"></i> 升级明细</li>
</ol>
<div class="box-padding">
    <form class="form-horizontal form_max">
        <div class="form-group">
            <div  class="col-sm-offset-1 col-sm-10">
                <font style="color:#999;">升级版本：</font>{$version} -> <font class="update_version" style="color:red;">....</font>
            </div>
        </div>
        <div class="col-sm-offset-1 alert alert-success version_content" role="alert">

        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="button" class="btn btn-primary update_btn">立即升级</button>
            </div>
        </div>
    </form>
</div>
<template id="tpl_li">
    <li data-k="title"><font class="num">1</font>、<font class="title"></font></li>
</template>
<script>
    //获取版本更新
    $.post('{:Url("getVersionArticle")}', function(res) {
        if (res.code) {
            $('.update_version').text(res.version);
            if (res.version == '{$version}') {
                window.location.href = "{:Url('admin/index')}";
            }
            if (res.content) {
                $('.version_content').html(res.content);
            }
        } else {
            $.modal.alert(res.msg);
        }
    }, 'json');
    $(document).on('click','.update_btn', function(){
        var modal = $.modal.confirm('你是否确定升级?', function() {
            modal.close();
            var loadding = $.modal({
                title: '升级中，请勿关闭网页',
                html: '正在下载更新包!',
                size: 'sm',
                closeBtnText: '关闭'
            });
            $.post('{:Url("download")}', function(res) {
                loadding.html('更新包下载成功,安装中...');
                if (res.code) {
                    $.post('{:Url("install")}', function(res2) {
                        if (res2.code) {
                            loadding.html('安装成功!');
                        }
                    },'json');
                }
            },'json');
        });
    })
</script>
{include file='common/foot' /}
