{include file='web@common/game_head' title="超级幸运星"/}
<link rel="stylesheet" href="/static/vipweb/css/game.css">
<script src="/static/vipweb/js/game.js"></script>

<div class="game-lucky">
    <div class="web web-flex">
        <div class="game-iframe-sp">
            <iframe src="{:url('../lucky')}" frameborder="0"  scrolling="no"></iframe>
        </div>
        <div class="flex help" style="background: url('/static/game/lucky/resource/assets/Game/help.png') no-repeat right -130px;background-size: 70%"></div>
    </div>
</div>

{include file='web@common/foot'/}
