{include file='common@common/head' /}

<style>
    .form {
    margin: .5rem;
    }
    .form button.btn
    {
    display: block;
    margin-top: 1rem;
    width: 100%;
    }
    .icon-svg {
    display: inline-block;
    margin: .4rem;
    }
    .btn-yzm{ width: 12rem; margin: 0;line-height: 1.7rem;margin-right: 0.3rem;}
    .edit-type{
        display: inline-block;
        width: 100%;
        line-height: 1.9rem;
        background-color: #4b4e5a;margin-top: .5rem;
    }
</style>

<header class="header">
  <a class="header-left" href="/index/user/set">
    <i class="icon-svg icon_left"></i>
  </a>
  <div class="header-center">{$title}</div>
</header>
<div class="p-height"></div>
<div class="form" id="edit_password">
    <div class="item-line item-lg">
      <i class="icon-svg icon_phone"  style="width: 1.8rem"></i>
      <input type="text"  disabled class="input input-line input-lg" placeholder="输入原来手机号"value ="{$tel}">
      <span class="btn btn-lg btn-yzm" v-on:click="nowSend">{{oldmsg}}</span>
    </div>
    <div class="item-line item-lg">
      <i class="icon-svg icon_password"></i>
      <input type="text" class="input input-line input-lg" placeholder="输入验证码" v-model="oldyzm">
    </div>
    
    <div class="item-line item-lg">
        <i class="icon-svg icon_password"></i>
        <input type="password" class="input input-line input-lg" placeholder="输入新密码" v-model = "password">
    </div>
    <div class="item-line item-lg">
        <i class="icon-svg icon_password"></i>
        <input type="password" class="input input-line input-lg" placeholder="再次输入新密码" v-model = "password2">
    </div>
    <div><button class="btn btn-fill btn-lg" v-on:click="nowsubmit">确认</button></div>
    <div v-if = "name"><a class="btn edit-type" href="{:url('',['by'=>'name'])}">使用原密码修改</a></div>
</div>

{include file='common@common/foot' /}

<script>
    $(function () {
        var vue = new Vue({
            el : '#edit_password',
            data : {
              countDown : 120,
              oldyzm : '',
              oldmsg : '发送验证码',
              password : '',
              password2 : '',
              name : 0
            },
            created : function(){
                var _this = this;
                $.get("{:url('aboutPassword')}",function(res){
                    if(res.username){
                        _this.name = 1;
                    }
                })
            },
            methods :{
              nowSend : function(){
                  var _this = this; 
                  if(_this.countDown != 120) return false;
                  $.get('/index/user/sendSmsPassword',function(res) {
                    if(res.err == 0) {
                      var interval = setInterval(function(){
                          _this.countDown = _this.countDown - 1;
                          if(_this.countDown == 0){
                            _this.oldmsg = '发送验证码';
                            _this.countDown = 120;
                            clearInterval(interval);
                            return;
                          }
                          _this.oldmsg = "消息已发送("+_this.countDown+")";
                      },1000)
                    }else{
                      $.alert(res.msg);
                    }
                  });
              },
              nowsubmit : function(){
                var _this = this;
                if(_this.oldyzm == '' || _this.password == '' ||　_this.password2 == ''){
                  $.alert("请认真填写资料");
                  return false;
                }
                $.post('/index/user/editByTel',{yzm : _this.oldyzm, password : _this.password, password2 : _this.password2},function(res) {
                      $.msg(res.msg);
                })
              }
            }
        })
    });
</script>
0