{include file='common@common/head' /}

<style>
  .form {
    margin: .5rem;
  }
  .form button.btn
  {
    display: block;
    margin-top: 1rem;
    width: 100%;
  }
  .icon-svg {
    display: inline-block;
    margin: .4rem;
  }
  .edit-type{
    display: inline-block;
    width: 100%;
    line-height: 1.9rem;
    background-color: #4b4e5a;margin-top: .5rem;
  }
</style>

<header class="header">
  <a class="header-left" href="/index/user/set">
    <i class="icon-svg icon_left"></i>
  </a>
  <div class="header-center">{$title}</div>
</header>
<div class="p-height"></div>
<div class="form" id="edit_password">
  <div>
    <div class="item-line item-lg">
        <i class="icon-svg icon_password"></i>
      <input type="password" class="input input-line input-lg" placeholder="输入原密码" v-model = "oldPassword">
    </div>
    <div class="item-line item-lg">
      <i class="icon-svg icon_password"></i>
      <input type="password" class="input input-line input-lg" placeholder="输入新密码" v-model="password">
    </div>
    <div class="item-line item-lg">
      <i class="icon-svg icon_password"></i>
      <input type="password" class="input input-line input-lg" placeholder="再次输入新密码" v-model="password2">
    </div>
    <div><button class="btn btn-fill btn-lg" v-on:click = "newsubmit">保存</button></div>
    <div v-if = "tel"><a class="btn edit-type" href="{:Url('',['by' => 'tel'])}">使用手机号修改</a></div>
  </div>
</div>

{include file='common@common/foot' /}

<script>
    $(function () {
        var vue = new Vue({
            el : '#edit_password',
            data : {
                oldPassword : '',
                password : "",
                password2 : '',
                tel: 0
            },
            created : function(){
                var _this = this;
                $.get("{:url('aboutPassword')}",function(res){
                    if(res.tel){
                        _this.tel = 1;
                    }
                })
                if({$isPassword} == 0){
                    $.alert('请先绑定手机号，再修改信息');
                    setTimeout(function () {
                        location.href = "/index/User/LockInfo";
                    }, 2000)
                }
            },
            methods :{
              newsubmit : function(){
                var _this = this;
                if(_this.oldPassword == '' || _this.password == '' ||　_this.password2 == ''){
                  $.alert("请认真填写资料");
                  return false;
                }
                $.post('/index/user/editByName',{oldpwd : _this.oldPassword, password : _this.password, password2 : _this.password2},function(res) {
                      $.msg(res.msg);
                })
              }
            }
        })
    });
</script>
