{include file='web@common/link' title="微信登录"/}
<style>
    body{
        background-color: rgb(51, 51, 51);
        padding: 50px;
    }
</style>
<div id = "login_container"></div>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<script>
     var obj = new WxLogin({
        self_redirect:false,
        id:"login_container",
        appid: "{$data['weiopenappid']}",
        scope: "snsapi_login",
        redirect_uri: '{$data["weiopenurl"]}',
        state : '{$data["state"]}',
         style:'white'
        });
</script>