<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="maximum-scale=1,minimum-scale=1,user-scalable=0,width=device-width,initial-scale=1">
    <meta http-equiv=Cache-Control content="no-cache, no-store, must-revalidate">
    <meta content=yes name=apple-mobile-web-app-capable>
    <title>首页</title>
    <link rel=stylesheet href=//at.alicdn.com/t/font_755041_sg4c5bwekl.css>
    <link href=/static/css/app.51d13c8e5ac82abc45438962de582875.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=./static/js/manifest.0f87dd3017a6fb579c2e.js></script>
<script type=text/javascript src=./static/js/vendor.877fe0fc8cf1559283b0.js></script>
<script type=text/javascript src=./static/js/app.615b3f3d76b672e6dbe5.js></script>
</body>
</html>