{include file='web@common/game_head' title="宝马奔驰"/}
<link rel="stylesheet" href="/static/vipweb/css/game.css">

<div class="game-cars">
    <div class="game-web-hp">
        <div class="game-iframe-hp" style="border: 5px solid #ffffff">
            <iframe src="{:url('../cars')}" frameborder="0"  scrolling="no"></iframe>
        </div>
        <div class="tc help">
            <p><img src="/static/vipweb/images/game/game_cars_help1.png" alt=""></p>
            <p><img src="/static/vipweb/images/game/game_cars_help2.png" alt=""></p>
        </div>
    </div>
</div>
{include file='web@common/foot'/}