{include file='web@common/link' title="返点赔率表"/}
<link rel="stylesheet" type="text/css"  href="/static/vipweb/css/user.css">

<div id="app" v-cloak  v-loading.fullscreen.lock="loading">
    <el-card class="box-card">
        <div slot="header" class="clearfix tc">
            <span class="title">返点赔率表</span>
        </div>
        <div class="odds-head">
            <ul class="">
                <li v-for="(item,index) in lotteryList" :class="{'active' : type == item.type}" @click="choseCz(item.type)">
                    {{item.label}}
                </li>
            </ul>
            <div class="odds-layout" v-show="show">
                <template v-for="(item,index) in lotteryList">
                    <ul class="list-B cf" v-show="type == item.type">
                        <li v-for="(data,index) in item.data" :class="{'active' : name == data.name}" @click="choseLottery(data.link,data.label)">
                            {{data.label}}
                        </li>
                    </ul>
                </template>
            </div>
        </div>
        <div class="odds-tips"></div>
        <div class="odds-title org">{{label}}</div>
        <div class="odds-cont flex-box" :style="{height:clientH + 'px'}" style="overflow-y: scroll">
            <div class="cont-left">
                <ul class="odds-item-list">
                    <li>玩法</li>
                    <li v-for="(item,index) in rebateOddsList.columsNameList" class="tc">
                        {{item}}
                    </li>
                </ul>
            </div>
            <div class="cont-right flex" style="overflow-x: scroll;width: 500px">
                <div style="width: 8800%;">
                    <ul v-for="(item,key) in rebateOddsList.playIdRebateValList" :key="key" class="odds-item-list">
                        <li v-for="(list,k) in item" :key="k" :class="{'tc':k == 0}">{{list}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </el-card>
</div>
{include file='web@common/end'/}
<script>
    $(function () {
        new Vue({
            el: "#app",
            data: {
                clientH: 0 ,
                type:'' , //选中的彩种类
                label:'',//选中的彩票名
                name:'', //选中的彩票name
                show:false,
                lotteryList: {$navList},
                rebateOddsList : {
                    columsNameList: ["五星-复式", "五星-单式", "五星-组选120", "五星-组选60", "五星-组选30", "五星-组选20", "五星-组选10", "五星-组选5", "四星-复式", "四星-单式", "四星-单式", "四星-单式"],
                    playIdRebateValList:[["4.0", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.9", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.8", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.7", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.6", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.5", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.4", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.3", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.2", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.1", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["3.0", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.9", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.8", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.7", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.6", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.5", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.4", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.3", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.2", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.1", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["2.0", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["1.9", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["1.8", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["1.7", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["1.6", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                        ["1.5", "奖金188000.00", "奖金188000.00", "奖金1566.66", "奖金3133.33", "奖金6266.66", "奖金9400.00", "奖金18800.00","奖金783.33","奖金1566.66","奖金3133.33","奖金1566.66","奖金3133.33"],
                    ]
                },
                loading: true
            },
            computed:{
                url:function () {
                    return "{:url('get_rebate')}?name=" + this.name
                }
            },
            methods: {
                //获取数据 *********
                getData:function(){
                    var _this = this;
                    _this.loading = true
                    this.show = false
                    this.type = ''
                    $.get(_this.url,function (res) {
                        _this.$set(_this.rebateOddsList,'columsNameList',res.type)
                        _this.$set(_this.rebateOddsList,'playIdRebateValList',res.gain)
                        _this.loading = false
                    })
                },
                //选择彩种类
                choseCz:function(type){
                    this.show = this.type == type ? false : true
                    this.type = this.show ? type : ''
                },
                //选择具体彩种
                choseLottery:function(name,label){
                    this.name = name
                    this.label = label
                    this.getData();
                },
            },
            created:function(){
                this.label = this.lotteryList[0].data[0].label
                this.name = this.lotteryList[0].data[0].link
                this.getData();
            },
            mounted:function () {
                // 获取浏览器可视区域高度
                this.$set(this,'clientH',document.body.clientHeight - 170);   //document.body.clientWidth;
                window.onresize = ()=>{
                    this.$set(this,'clientH',document.body.clientHeight - 170);
                };
            }
        });
    });
</script>