{include file='admin@common/head' /}
<nav class="plugin_nav">
  <a href="{:url('index',['name' => $name])}">奖金设置</a>
  <a class="nav_active">期号配置</a>
</nav>
<div class="box-padding">
  <div class="breadcrumb">
    <ol>
      <li class="active"><i class="glyphicon glyphicon-link"></i> 期号配置【{$lottery}】</li>
    </ol>
  </div>
  <style>
<style>
  .form-group  a:hover{text-decoration:none}
 
</style>
<div class="box-padding">
    <div class="form-horizontal form_max">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">起始期数</label>
        <div class="col-sm-4">
          <a class="tooltip-test" data-toggle="tooltip" title="计算期数开始与其实日期相对应，取某一天的最后一期，不能跨年">
            <input type="text" class="form-control" placeholder="" name="pkstart" value="{$list.pkstart|default=0}">
          </a>
        </div>
        <label for="inputEmail3" class="col-sm-2 control-label">起始时间</label>
        <div class="col-sm-4">
          <a class="tooltip-test" data-toggle="tooltip" title="计算时间与起始期数相对应，取某一天的最后一期的结束时间，不能跨年">
            <input type="text" class="form-control" placeholder="2018-05-01 23:57:00" name="pktime" value="{$list.pktime|default=0}">
          </a>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">每日期数</label>
        <div class="col-sm-4">
          <a class="tooltip-test" data-toggle="tooltip" title="每天的总期数">
            <input type="text"  class="form-control" placeholder="" name="startIssue" value="{$list.startIssue|default=0}">
          </a>
        </div>
      </div>
      <div class="form-group">
        
        <label for="inputEmail3" class="col-sm-2 control-label">起售时间</label>
        <div class="col-sm-4">
          <a class="tooltip-test" data-toggle="tooltip" title="每日第一期开售时间">
          <input type="text"  class="form-control" placeholder="09:02" name="startTime" value="{$list.startTime|default=0}">
          </a>
        </div>
        <label for="inputEmail3" class="col-sm-2 control-label">结束时间</label>
        <div class="col-sm-4">
          <a class="tooltip-test" data-toggle="tooltip" title="每日最后一期结束时间.若结束时间在第二天，在时间后+1,例：02:00+1">
            <input type="text"  class="form-control" placeholder="23:57" name="endTime" value="{$list.endTime|default=0}">
          </a>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">投注时长</label>
        <div class="col-sm-4">
          <a class="tooltip-test" data-toggle="tooltip" title="多少分钟一期，单位分钟">
          <input type="text"  class="form-control" placeholder="5" name="timelong" value="{$list.timelong|default=0}">
          </a>
        </div>
        <label for="inputEmail3" class="col-sm-2 control-label">开售延时</label>
        <div class="col-sm-4">
          <a class="tooltip-test" data-toggle="tooltip" title="每期销售截止时间提前多少秒">
            <input type="text" class="form-control" placeholder="23:57" name="delay" value="{$list.delay|default=0}">
          </a>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10"><button type="submit" class="btn btn-primary btn_save">保 存</button></div>
      </div>
    </div>
</div>
</div>
<script>
  $("[data-toggle='tooltip']").tooltip();
  $(".btn").click(function(){
    $.post('{:url("site")}', {
           'pkstart': $("input[name=pkstart]").val(),
           'pktime': $("input[name=pktime]").val(),
           'startIssue': $("input[name=startIssue]").val(),
           'startTime': $("input[name=startTime]").val(),
           'endTime': $("input[name=endTime]").val(),
           'timelong': $("input[name=timelong]").val(),
          'name' : '{$name}',
          'delay': $("input[name=delay]").val()
    },function(res){
        $.modal.alert(res.msg)
    })
  })
 </script>
{include file='admin@common/foot' /}